{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}
    {% if task_obj %}
        {% trans 'Task edit' %} - {{ task_obj.name }}
    {% else %}
        {% trans 'Task add' %}
    {% endif %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>
    <style>
    .select2-container .select2-selection--multiple{
            display: inline-table;
    }
    </style>

{% endblock %}


{% block content_block %}

    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if task_obj %}
                        {% trans 'Task edit' %} - {{ task_obj.name }}
                    {% else %}
                        {% trans 'Task add' %}
                    {% endif %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:tasks-list' %}" class="breadcrumb-item">{% trans 'Tasks' %}</a>
                        <span class="breadcrumb-item active">
                            {% if task_obj %}
                                {% trans 'Task edit' %} - {{ task_obj.name }}
                            {% else %}
                                {% trans 'Task add' %}
                            {% endif %}
                        </span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if task_obj %}
                            {% trans 'Task edit' %} - {{ task_obj.name }}
                        {% else %}
                            {% trans 'Task add' %}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <form role="form" id="form-validation" method="post" action="">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Name' %}</label>
                                    <div class="col-sm-10">
                                        {{ task_form.name }}
                                        {% if task_form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Costumer' %}</label>
                                    <div class="col-sm-10">
                                        {{ task_form.customer }}
                                        {% if task_form.customer.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.customer.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Task type ' %}
                                        *</label>
                                    <div class="col-sm-10">
                                        {{ task_form.task_type }}
                                        {% if task_form.task_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.task_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row" id="date_type_fixed_id">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Date type on fixed' %}</label>
                                    <div class="col-sm-10">
                                        {{ task_form.date_type_fixed }}
                                        {% if task_form.date_type_fixed.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.date_type_fixed.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="date_type_custom_standart_id">
                                    <div class="form-group row" >
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Square meter cleaning program' %}</label>
                                        <div class="col-sm-10">
                                            {{ task_form.square_meter_cleaning_program }}
                                            {% if task_form.square_meter_cleaning_program.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ task_form.square_meter_cleaning_program.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Fixed cleaning programs' %}</label>
                                        <div class="col-sm-10">
                                            {{ task_form.fixed_cleaning_programs }}
                                            {% if task_form.fixed_cleaning_programs.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ task_form.fixed_cleaning_programs.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Total time' %}</label>
                                    <div class="col-sm-10">
                                        {{ task_form.total_time }}
                                        {% if task_form.total_time.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.total_time.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Total price' %}</label>
                                    <div class="col-sm-10">
                                        {{ task_form.total_price }}
                                        {% if task_form.total_price.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.total_price.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Description' %}</label>
                                    <div class="col-sm-10">
                                        {{ task_form.description }}
                                        {% if task_form.description.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ task_form.description.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="form-group row" id="date_type_custom_customize_id">
                                    <div class="col-sm-12">

                                        <h3>{% trans 'Task Days and programs' %}</h3>
                                        <hr>
                                        {{ task_custom_day_form_formset.management_form }}
                                        {% for form in task_custom_day_form_formset.forms %}
                                            <div class="item-form row">
                                                    <div class="col-md-4">
                                                        <label><span style="color:red;">*</span>{% trans 'Task day' %}
                                                        </label>
                                                        {{ form.task_day }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{% trans 'Square meter cleaning program' %}</label>
                                                        {{ form.square_meter_cleaning_program }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{% trans 'Fixed cleaning programs' %}</label>
                                                        {{ form.fixed_cleaning_programs }}
                                                    </div>
                                                    <div class="clearfix-md">
                                                        <hr>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>{% trans 'Time' %}</label>
                                                        {{ form.time }}
                                                    </div>
                                                    <div class="clearfix-md">
                                                        <hr>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>{% trans 'Price' %}</label>
                                                        {{ form.price }}
                                                    </div>
                                                    <div class="clearfix-md">
                                                        <hr>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <label>{% trans 'Description' %}</label>
                                                        {{ form.desc }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br>
                                                        <a class="delete btn btn-danger align-right" href="#"><i
                                                                class="fa fa-trash-o"></i> {% trans 'Delete' %}</a>
                                                    </div>
                                            </div>
                                            <hr>
                                        {% endfor %}
                                        <p><a id="add" class=" btn btn-success" href="#"><i
                                                class="fa fa-plus"></i> {% trans 'Add another' %}</a></p>


                                    </div>
                                </div>

                                <button class="btn btn-gradient-success">
                                    {% trans 'Submit' %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    <script>
{#        $("#id_customer").prepend("<option value=''>{% trans 'Choose Customer' %}</option>"){% if task_obj %}{% else %}.val(''){% endif %};#}
{#        $("#id_cleaning_program").prepend("<option value=''>{% trans 'Choose Cleaning Program' %}</option>"){% if task_obj %}{% else %}.val(''){% endif %};#}
    </script>

    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
{#            placeholder: "Select",#}
{#            minimumSelectionSize: 2,#}
{#            maximumSelectionSize: 6,#}
            containerCssClass: ':all:'
        });
    </script>


    <script>
        var id_task_type = $('#id_task_type');
        var id_date_type_fixed = $('#id_date_type_fixed');
{#        var id_date_type_custom = $('#id_date_type_custom');#}
        var date_type_custom_standart_id = $('#date_type_custom_standart_id');
        var date_type_custom_customize_id = $('#date_type_custom_customize_id');
        var date_type_fixed_id = $('#date_type_fixed_id');
        var id_total_time = $( "#id_total_time" );
        var id_total_price = $( "#id_total_price" );


        $(document).ready(function () {
            date_type_custom_standart_id.hide();
            date_type_custom_customize_id.hide();
            taskTypeFun();
            setTimeout(function () {
                dateTypeFixedFun();
            }, 1500);

        });
        function calculateTask() {
            var sp = 'single';
            if (id_task_type.val() == 2 && id_date_type_fixed.val() != '' && id_date_type_fixed.val() == 4) {
                sp = 'plural';
            }
            console.log(sp)
        }
        function taskTypeFun() {
            if (id_task_type.val() == 2) {
                date_type_fixed_id.show();
                date_type_custom_standart_id.hide();
                id_date_type_fixed.attr("required", "required");
{#                id_date_type_custom.removeAttr("required");#}
            } else if (id_task_type.val() == 1) {
                date_type_fixed_id.hide();
                date_type_custom_standart_id.hide();
                id_date_type_fixed.removeAttr("required");
{#                id_date_type_custom.removeAttr("required");#}
            }
        }
        function dateTypeFixedFun() {
{#            if (id_task_type.val() == 2) {#}
            if (id_date_type_fixed.val() >= 1 && id_date_type_fixed.val() <= 3) {
                date_type_custom_standart_id.show();
                date_type_custom_customize_id.hide();
{#                id_date_type_custom.removeAttr("required");#}
            } else if (id_date_type_fixed.val() == 4) {
                date_type_custom_standart_id.hide();
                date_type_custom_customize_id.show();
{#                id_date_type_custom.attr("required", "required");#}
            }
{#            }#}
        }
        id_task_type.change(function () {
            taskTypeFun();
            calculateTask();
        });
        id_date_type_fixed.change(function () {
            dateTypeFixedFun();
            calculateTask();
        });
    </script>




    <script>
        $(document).ready(function () {
            addOrder();
            // Code adapted from http://djangosnippets.org/snippets/1389/
            function updateElementIndex(el, prefix, ndx) {
                var id_regex = new RegExp('(' + prefix + '-\\d+-)');
                var replacement = prefix + '-' + ndx + '-';
                if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
                    replacement));
                if (el.id) el.id = el.id.replace(id_regex, replacement);
                if (el.name) el.name = el.name.replace(id_regex, replacement);
            }

            function deleteForm(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                if (formCount > 1) {
                    // Delete the item/form
                    $(btn).parents('.item-form').remove();
                    var forms = $('.item-form'); // Get all the forms
                    // Update the total number of forms (1 less than before)
                    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                    var i = 0;
                    // Go through the forms and set their indices, names and IDs
                    for (formCount = forms.length; i < formCount; i++) {
                        $(forms.get(i)).children().children().each(function () {
                            if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                        });
                    }
                } // End if
                else {
                    alert("{% trans 'You have to enter at least one todo item!' %}");
                }
                addOrder();
                calculateCustomAllPart();
                return false;
            }

            function addForm(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                // You can only submit a maximum of 10 todo items
                if (formCount < 7) {
                    // Clone a form (without event handlers) from the first form
                    var row = $(".item-form:last").clone(false).get(0);
                    // Insert it after the last form
                    $(row).removeAttr('id').hide().insertAfter(".item-form:last").slideDown(300);

                    // Remove the bits we don't want in the new row/form
                    // e.g. error messages
                    $(".errorlist", row).remove();
                    $(row).children().removeClass("error");

                    // Relabel or rename all the relevant bits
                    $(row).children().children().each(function () {
                        updateElementIndex(this, prefix, formCount);
                        $(this).val("");
                    });

                    // Add an event handler for the delete item/form link
                    $(row).find(".delete").click(function () {
                        return deleteForm(this, prefix);
                    });
                    // Update the total form count
                    $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
                } // End if
                else {
                    alert("Sorry, you can only enter a maximum of ten items.");
                }
                addOrder();
                calculateCustomAllPart();
                return false;
            }

            // Register the click event handlers
            $("#add").click(function () {
                return addForm(this, "form");
            });

            $(".delete").click(function () {
                return deleteForm(this, "form");
            });
        });
    </script>

    <script>
    function addOrder() {
        $( ".item-form" ).each(function( index ) {
            $(this).find( "select" ).attr( 'order_index',index + 1 );
            $(this).find( "input" ).attr( 'order_index',index + 1 );
            $(this).find( "textarea" ).attr( 'order_index',index + 1 );
            $( this ).attr( 'order_index',index + 1 );
{#            console.log( index + ": " + $( this ).text() );#}

        });
    }
    $(document).on("change","#date_type_custom_customize_id select.calculate-class" ,function () {
        var item_form = $( ".item-form[order_index='"+$(this).attr('order_index')+"']" );
        var result_time = $( "#date_type_custom_customize_id input.task-custom-day-part-item-time[order_index='"+$(this).attr('order_index')+"']" );
        var result_price = $( "#date_type_custom_customize_id input.task-custom-day-part-item-price[order_index='"+$(this).attr('order_index')+"']" );
        var fixed_cleaning_programs = $( "#date_type_custom_customize_id select.task-custom-day-part-item-fcp[order_index='"+$(this).attr('order_index')+"']" );
        var square_meter_cleaning_program = $( "#date_type_custom_customize_id select.task-custom-day-part-item-smcp[order_index='"+$(this).attr('order_index')+"']" );
        var id_customer = $( "#id_customer" );
        console.log($(this));
        console.log(fixed_cleaning_programs);
         var partData = {
            'csrfmiddlewaretoken'               : '{{ csrf_token }}',
            'customer'                          : id_customer.val(),
            'square_meter_cleaning_program'     : square_meter_cleaning_program.val(),
            'fixed_cleaning_programs'           : fixed_cleaning_programs.val()
         };
         if (id_customer.val() != '' && (square_meter_cleaning_program.val() != '' || fixed_cleaning_programs.val() != '')){
            $.post("{% url 'work:tasks-calculate' %}", partData)
                .done(function (data) {
                    result_price.val(data['result_price']);
                    result_time.val(data['result_time']);
{#                    alert('yeap');#}
{#                    data_list_main_content.html(data['result'])#}
                });
            }
{#         console.log(item_form.find('select, textarea, input').serialize());#}
    });
    $(document).on("change","#id_fixed_cleaning_programs" ,function () {
        calculateMain();
{#         console.log(item_form.find('select, textarea, input').serialize());#}
    });
    $(document).on("change","#id_square_meter_cleaning_program" ,function () {
        calculateMain();
{#         console.log(item_form.find('select, textarea, input').serialize());#}
    });

    function calculateMain() {
        var result_time = $( "#id_total_time" );
        var result_price = $( "#id_total_price" );
        var fixed_cleaning_programs = $( "#id_fixed_cleaning_programs" );
        var square_meter_cleaning_program = $( "#id_square_meter_cleaning_program" );
        var id_customer = $( "#id_customer" );

         var partData = {
            'csrfmiddlewaretoken'               : '{{ csrf_token }}',
            'customer'                          : id_customer.val(),
            'square_meter_cleaning_program'     : square_meter_cleaning_program.val(),
            'fixed_cleaning_programs'           : fixed_cleaning_programs.val()
         };
         if (id_customer.val() != '' && (square_meter_cleaning_program.val() != '' || fixed_cleaning_programs.val() != '')){
            $.post("{% url 'work:tasks-calculate' %}", partData)
                .done(function (data) {
                    result_price.val(data['result_price']);
                    result_time.val(data['result_time']);
{#                    alert('yeap');#}
{#                    data_list_main_content.html(data['result'])#}
                });
            }
    }
    </script>


<script>
    function calculateCustomAllPart()
    {

        result_time = 0;
        result_price = 0;
        if (id_date_type_fixed.val() == 4) {
            $('#date_type_custom_customize_id .item-form.row').each(function (index) {
                {#     console.log($(this).attr("order_index"));#}
                var part_time = $(this).find("input.task-custom-day-part-item-time").val();
                var part_price = $(this).find("input.task-custom-day-part-item-price").val();
                if (part_time != '' && part_price != '' && parseFloat(part_time) > 0 && parseFloat(part_price) > 0){
                    result_time += parseFloat(part_time);
                    result_price += parseFloat(part_price);
                }
            });
            id_total_time.val(result_time.toFixed(2));
            id_total_price.val(result_price.toFixed(2))
        }
    }
</script>
{% endblock %}