.hero .full-height{
    min-height: calc(100vh - 65px);
}

.section {
    padding: 60px 0px
}

.preview-item {
    width: 100%;
    position: relative;
    background-color: #fff;
    display: block;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 2px 15px rgba(0,0,0,.05), 0 -1px 0 rgba(0,0,0,.01);
}

.preview-item img {

}

.preview-item-overlay {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.8);
    transition: opacity 250ms ease;
}

.preview-item:hover {
    transform: translateY(-10px); 
}

.demo-img-wrapper {
    position: absolute;
    top: 65px;
    right: 0;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


.demo-img-wrapper .green {
    position: absolute;
    bottom: 100px;
    z-index: -1;
    animation: float 8s infinite;
}

.demo-img-wrapper .green img{
    transform: scale(0.8);
}    

.demo-img-wrapper .blue {
    position: absolute;
    top: -70px;
    right: 0px;
    z-index: -1;
    animation: float 10s infinite;
}  

.demo-img-wrapper .blue img {
    transform: scale(0.6);
}    

.demo-img-wrapper .purple {
    position: absolute;
    bottom: 120px;
    right: 100px;
    z-index: -1;
    animation: float 6s infinite;
}  

.demo-img-wrapper .purple img {
    transform: scale(0.9);
}

@media (max-width:1600px) and (min-width:1400px) {
    .demo-img-wrapper .green {
        bottom: 25px;
        left: -40px;
    }
    
    .demo-img-wrapper .green img {
        transform: scale(0.6);
    }

    .demo-img-wrapper .blue {
        top: -90px;
        right: -70px;
    }   

    .demo-img-wrapper .blue img {
        transform: scale(0.5);
    }    
    
    .demo-img-wrapper .purple {
        bottom: 100px;
        right: 60px;
    }  

    .demo-img-wrapper .purple img {
        transform: scale(0.8);
    }
}

@media (max-width:1400px) and (min-width:1200px) {
    .demo-img-wrapper .green {
        bottom: 25px;
        left: -70px;
    }

    .demo-img-wrapper .green img{
        transform: scale(0.55);
    }    
    
    .demo-img-wrapper .blue {
        top: -120px;
        right: -90px;
    }   

    .demo-img-wrapper .blue img {
        transform: scale(0.4);
    }

    .demo-img-wrapper .purple {
        bottom: 100px;
        right: 45px;
    }  

    .demo-img-wrapper .purple img {
        transform: scale(0.7);
    }    
}

@media screen and (max-width: 1200px) {
    .demo-img-wrapper .green,
    .demo-img-wrapper .blue,
    .demo-img-wrapper .purple {
        display: none !important;
    }    
}

footer {
    padding-top: 60px;
    background-color: #223143;
    color: #99abb4;
}

footer h2 {
    color: #99abb4;
}

footer hr {
    border-top-color: #2e435d;
}