{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{#{% load return_objects %}#}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'All Plans' %}{% endblock %}

{% block page_css_block %}

    <link href="{% static 'main/dist/assets/css/plan-list.css' %}" rel="stylesheet">
    <style>
        .list-media .list-item a hr {
            border-top: 1px solid #e9eaec;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        #show-map-button {
            margin-top: 15px;
        }

        .team-h3-title {
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            margin: 10px auto;
            background: aliceblue;
            font-weight: 500;
        }
    .select2-container--bootstrap4{
        width: 100% !important;
    }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Work plans' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Work plans' %}</span>
                    </nav>
                </div>
            </div>


            <form class="row" id="data-list-form"
                  style="margin-bottom: 15px; {% if form_show %}{% else %}display: none;{% endif %}">
                {% csrf_token %}
                <div class="col-md-12 form-group ">
                    {{ search_form.team }}
                </div>
                <button type="button" class="btn btn-success" style="margin: 0;width: 100%;"
                        onclick="searchForm();">{% trans 'Search' %}</button>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="team-h3-title" id="team-h3-title-id" style="{% if form_show %}display: none;{% endif %}">
                            <span id="team-h3-title-team-name-id"
                                  style="{% if team_obj.name %}{% else %}display: none;{% endif %}">
                                {% if team_obj %}
                                    {{ team_obj.name }}
                                {% endif %}
                            </span>
                        {% if employee_obj %}
                            <span id="team-h3-title-team-employee-id" style="">
                                - {{ employee_obj.full_name }}
                            </span>
                        {% endif %}
                    </h3>
                </div>
            </div>
            <div class="row" id="data-list-main-content">
            </div>
        </div>
    </div>



    <div id="show-map-modal" class="modal fade modal-fs">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid text-center">
                        <div class="row full-height align-items-center">
                            <div class="col-md-12 m-h-auto">
                                <div class="p-h-30 p-b-50">
                                    <p class="m-b-25 lead" id="modal-fs-content">

                                    </p>
                                    <div class="text-center" id="ajax-team-map-div">
                                        {#                                        <button class="btn btn-default btn-lg">Confirm</button>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="modal-close" href="#" data-dismiss="modal">
                        <i class="ti-close"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


<div id="edit-customer-order-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="edit-customer-order-modal-name"></h4>
      </div>
      <div class="modal-body" id="edit-customer-order-modal-body">
        <form>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Select Team' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-customer-order-modal-team-select" class="form-control select2-single">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Work Day' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-customer-order-modal-team-workday-select" class="form-control select2-single">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Location' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-customer-order-modal-team-change-customer-select" class="form-control select2-single">

                    </select>
                </div>
            </div>
            <div class="form-group">
                    <button type="button" style="display: none;" onclick="changePositionCustomer()" id="change-position-customer-button" data-ajax-url="" class="btn btn-success btn-rounded btn-outline btn-block" data-toggle="modal" data-target="#edit-customer-order-modal">
                        <i class="fa fa-edit"></i>
                        {% trans 'Change' %}
                    </button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>

    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
            containerCssClass: ':all:'
        });
    </script>

    <script>
        /**
         * Created by macos on 2/1/18.
         */
        $(document).ready(function () {
            searchForm();
        });
        var work_plan_container = $('#data-list-main-content');
        var show_map_link = $('#show-map-button');
        var ajax_employee_map_div = $('#ajax-team-map-div');
        var url = work_plan_container.attr("data-ajax-url");
        var show_map_link_url = show_map_link.attr("data-ajax-url");
        var get_change_customers_url = '';
        var get_customer_position_change_url = '';
        var change_position_customer_button = $('#change-position-customer-button');
        var change_position_customer_button_url = change_position_customer_button.attr("data-ajax-url");
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';


        var data_list_form = $('#data-list-form');
        var team_h3_title_id = $('#team-h3-title-id');
        var team_h3_title_team_name_id = $('#team-h3-title-team-name-id');

        function searchForm() {
            work_plan_container.html("<div class='col-md-12 text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.post("{% url 'work:team-plan-show-ajax' %}", data_list_form.serialize())
                .done(function (data) {
                    var message_code = data['message_code'];
                    var _html = data['_html'];
                    var _team_name = data['_team_name'];
                    if (message_code == 1) {
                        work_plan_container.html(_html);
                        team_h3_title_id.show();
                        team_h3_title_team_name_id.text(_team_name).show();
                    } else {
                        work_plan_container.html(_html);
                        team_h3_title_id.show();
                        team_h3_title_team_name_id.text(_team_name);
                    }
                });
        }

        function showPlanMap($url, $list) {
            $.post($url, {'customer_list': $list, 'csrfmiddlewaretoken': '{{ csrf_token }}'})
                .done(function (data) {
                    var message_code = data['message_code'];
                    var _html = data['_html'];
                    if (message_code == 1) {
                        console.log(_html);
                        ajax_employee_map_div.html(_html);
                        $("#show-map-modal").modal();
                        // ajax_employee_map_div.append(_html);
                        // work_plan_container.html(_html)
                    }
                });
        }

    </script>

<script>

        var teams_select = $('#edit-customer-order-modal-team-select');
        var teams_work_day_select = $('#edit-customer-order-modal-team-workday-select');
        var customer_order_modal_team_change_customer_select = $('#edit-customer-order-modal-team-change-customer-select');
        function showOtherPlans($url,$team_plan_id,$l_id,$get_customers_url,$get_customer_position_change_url) {
            // alert($url);
            this.get_change_customers_url = $get_customers_url;
            get_customer_position_change_url = $get_customer_position_change_url;
            change_position_customer_button.attr( "data-ajax-url",$get_customer_position_change_url );
            change_position_customer_button_url = $get_customer_position_change_url;
            $.ajax({
                dataType: "json",
                traditional: true,
                type: "GET",
                url: $url,
                data: {team_plan_id:$team_plan_id,l_id:$l_id},
                success: function (data) {
                    var message_code = data['message_code'];
                    var _html_teams_select = data['_html_teams_select'];
                    var _html_teams_work_day_select = data['_html_teams_work_day_select'];
                    if (message_code == 1){
                        // console.log(_html);
                        teams_select.html('');
                        teams_select.append(_html_teams_select);
                        teams_work_day_select.html('');
                        teams_work_day_select.append(_html_teams_work_day_select);
                        customer_order_modal_team_change_customer_select.html('');

                        // $("#todo-task-modal").modal('hide');
                        // ajax_team_map_div.append(_html);
                        // work_plan_container.html(_html)
                    }
                },
                error: function (data) {
                    // work_plan_container.removeAttr('disabled');
                }
            });
        }

        teams_select.change(function(){
            change_position_customer_button.hide();
            if (teams_select.val() == '' || teams_work_day_select.val() == ''){
                customer_order_modal_team_change_customer_select.html();
            }else {
                console.log(get_change_customers_url);
                customer_order_modal_team_change_customer_select.val('');
                setTimeout(function(){
                    getPosibleResultsCustomers(get_change_customers_url);
                }, 300);
            }
        });
        teams_work_day_select.change(function(){
            change_position_customer_button.hide();
            if (teams_select.val() == '' || teams_work_day_select.val() == ''){
                customer_order_modal_team_change_customer_select.html();
            }else{
                customer_order_modal_team_change_customer_select.val('');
                setTimeout(function(){
                    getPosibleResultsCustomers(get_change_customers_url);
                }, 300);
            }
        });
        customer_order_modal_team_change_customer_select.change(function(){
            if (teams_select.val() == '' || teams_work_day_select.val() == '' || customer_order_modal_team_change_customer_select.val() == ''){
                change_position_customer_button.hide();
            }else{
                 change_position_customer_button.show();
            }
        });

        function getPosibleResultsCustomers($url) {
            $.ajax({
                dataType: "json",
                traditional: true,
                type: "GET",
                url: $url,
                data: {teams_select_id:teams_select.val(),teams_work_day_id:teams_work_day_select.val()},
                success: function (data) {
                    var message_code = data['message_code'];
                    var _html_customers_select = data['_html_customers_select'];
                    if (message_code == 1){
                        // console.log(_html);
                        customer_order_modal_team_change_customer_select.html('');
                        customer_order_modal_team_change_customer_select.append(_html_customers_select);
                        // $("#todo-task-modal").modal('hide');
                        // ajax_team_map_div.append(_html);
                        // work_plan_container.html(_html)
                    }
                },
                error: function (data) {
                    // work_plan_container.removeAttr('disabled');
                }
            });
        }

        function changePositionCustomer() {
            if (teams_select.val() != '' && teams_work_day_select.val() != '' && customer_order_modal_team_change_customer_select.val() != '') {
                // alert(customer_order_modal_team_change_customer_select.val().length);
                $.ajax({
                    dataType: "json",
                    traditional: true,
                    type: "GET",
                    url: change_position_customer_button_url,
                    data: {
                        teams_select_id: teams_select.val(),
                        teams_work_day_id: teams_work_day_select.val(),
                        chng_loc_ord_id: customer_order_modal_team_change_customer_select.val()
                    },
                    success: function (data) {
                        var message_code = data['message_code'];
                        var _html_customers_select = data['_html_customers_select'];
                        if (message_code == 1) {
                            // console.log(_html);
                            customer_order_modal_team_change_customer_select.html('');
                            customer_order_modal_team_change_customer_select.append(_html_customers_select);
                            searchForm();
                            // $("#todo-task-modal").modal('hide');
                            // ajax_team_map_div.append(_html);
                            // work_plan_container.html(_html)
                        }
                    },
                    error: function (data) {
                        // work_plan_container.removeAttr('disabled');
                    }
                });
            }
        }


</script>


{% endblock %}