{% extends 'userprofile-base.html' %}
{% load static %}
{% load i18n %}
{#{% load return_objects %}#}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'All Plans' %}{% endblock %}

{% block head_container %}

{% endblock %}


{% block content_container %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="todo-main-header">
                <h3>{{ team_obj.name }}</h3>
                <ul class="todo-breadcrumb">
                    <li>
                        <a href="{% url 'userprofile:dashboard' %}">{% trans 'Dashboard' %}</a>
                    </li>
                </ul>
            </div>
            {#                    <div class="todo-container" id="work-plan-container" data-ajax-url="{% url 'work:admin-team-plans-ajax' team_obj.id  %}">#}
            {#                    </div>#}

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->


    <!-- Modal -->
    <div id="todo-task-modal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="left: 0;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="edit-location-order-modal-name">Map</h4>
                </div>
                <div class="modal-body" id="ajax-team-map-div">
                </div>
            </div>

        </div>
    </div>


    <div id="edit-location-order-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="edit-location-order-modal-name"></h4>
                </div>
                <div class="modal-body" id="edit-location-order-modal-body">
                    <form>
                        <div class="form-group">
                            <label for="single-append-text" class="control-label">{% trans 'Select Employee' %}</label>
                            <div class="input-group select2-bootstrap-append">
                                <select id="edit-location-order-modal-team-select"
                                        class="form-control select2-allow-clear">

                                </select>
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="single-append-text" class="control-label">{% trans 'Work Day' %}</label>
                            <div class="input-group select2-bootstrap-append">
                                <select id="edit-location-order-modal-team-workday-select"
                                        class="form-control select2-allow-clear">

                                </select>
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="single-append-text" class="control-label">{% trans 'Location' %}</label>
                            <div class="input-group select2-bootstrap-append">
                                <select id="edit-location-order-modal-team-change-location-select"
                                        class="form-control select2-allow-clear">

                                </select>
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <a style="display: none;" onclick="changePositionLocation()"
                               id="change-position-location-button" data-ajax-url=""
                               class="btn btn-circle green btn-outline  btn-block" data-toggle="modal"
                               data-target="#edit-location-order-modal">
                                <i class="fa fa-edit"></i>
                                {% trans 'Change' %}
                            </a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}




{% block footer_container %}

    <script>
        /**
         * Created by macos on 2/1/18.
         */
        $(document).ready(function () {
            employeePlansShow();
        });
        var work_plan_container = $('#work-plan-container');
        var show_map_link = $('#show-map-button');
        var ajax_employee_map_div = $('#ajax-employee-map-div');
        var url = work_plan_container.attr("data-ajax-url");
        var show_map_link_url = show_map_link.attr("data-ajax-url");
        var get_change_customers_url = '';
        var get_customer_position_change_url = '';
        var change_position_location_button = $('#change-position-location-button');
        var change_position_location_button_url = change_position_location_button.attr("data-ajax-url");
        function employeePlansShow() {
            $.post("{% url 'work:employees-list' op_slug %}", {'csrfmiddlewaretoken'{{ csrf_token }} })
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        function showPlanMap($url, $list) {
            // alert($url);
            $.post($url, {'location_list': $list,'csrfmiddlewaretoken':'{{ csrf_token }}' })
                .done(function (data) {
                    var message_code = data['message_code'];
                    var _html = data['_html'];
                    if (message_code == 1) {
                        console.log(_html);
                        ajax_employee_map_div.html(_html);
                        $("#todo-task-modal").modal();
                        // ajax_employee_map_div.append(_html);
                        // work_plan_container.html(_html)
                    }
                });
        }

    </script>

{% endblock %}