{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <style>
        .information-details li {
            cursor: pointer;
            padding: 6px 0;
            border-bottom: 1px solid #ccc;
            background: aliceblue;
        }

        .information-details li:hover {
            padding: 6px 2px;
            background: #f7f8f9;
        }
    </style>
    	<link rel="stylesheet" type="text/css" href="{% static 'main/dist/assets/mask/credit.css' %}" />

{% endblock %}

{% block content_block %}

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row m-v-30">
                        <div class="col-sm-3">
                            <img class="img-fluid rounded-circle d-block mx-auto m-b-30"
                                 src="{% static 'main/dist/assets/images/avatars/default-user.png' %}"
                                 style="height: 200px;" alt="">
                        </div>
                        <div class="col-sm-4 text-center text-sm-left">
                            <h2 class="m-b-5">
                                {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                                    {{ base_profile.first_name }} {{ base_profile.last_name }}
                                {% elif base_profile.usertype == 2 %}
                                {% elif base_profile.usertype == 3 %}
                                    {% if data.customer_type == 1 %}
                                        {{ data.full_name }}
                                    {% elif data.customer_type == 2 %}
                                        {{ data.company_name }}
                                    {% endif %}
                                {% endif %}
                            </h2>
                            <p class="text-opacity m-b-20 font-size-13">

                                {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                                    <strong>{{ base_profile.email }}</strong>
                                {% elif base_profile.usertype == 2 %}

                                {% elif base_profile.usertype == 3 %}

                                    {% if data.customer_type == 2 %}
                                        {{ data.cvr_number }} / {{ data.contact_person }}
                                    {% endif %}

                                {% endif %}
                            </p>
                            <p class="text-dark">
                                {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                                    <strong>{% trans 'Admin' %}</strong>
                                {% elif base_profile.usertype == 2 %}
                                    <strong>{% trans 'Employee' %}</strong>
                                {% elif base_profile.usertype == 3 %}
                                    <strong>{% trans 'Customer' %}</strong>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-lg-9">
                                    <ul class="information-details">

                                        {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                                            <li class="row"><span class="col-md-6">{% trans 'Email' %}</span><span
                                                    class="col-md-6">{{ base_profile.email }}</span></li>
                                        {% elif base_profile.usertype == 2 %}
                                            <li class="row"><span class="col-md-6">{% trans 'Birth date' %}</span><span
                                                    class="col-md-6">{{ data.birth_date }}</span></li>
                                            <li class="row"><span class="col-md-6">{% trans 'Phonenumber' %}</span><span
                                                    class="col-md-6">{{ data.phonenumber }}</span></li>
                                            <li class="row text-center">
                                                <span class="col-md-12 text-center"><strong>{% trans 'Address' %}</strong></span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Street name' %}</span>
                                                <span class="col-md-6">{{ data.street_name }}</span>
                                            </li>
                                            <li class="row"><span class="col-md-6">{% trans 'Zip code' %}</span><span
                                                    class="col-md-6">{{ data.zip_code }}</span>
                                            </li>
                                            <li class="row"><span class="col-md-6">{% trans 'City' %}</span><span
                                                    class="col-md-6">{{ data.city }}</span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Started date' %}</span>
                                                <span class="col-md-6">{{ data.start_date }}</span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Employment type' %}</span>
                                                <span class="col-md-6">{{ data.get_employment_type }}</span>
                                            </li>
                                            <li class="row"><span class="col-md-6">{% trans 'Price' %}</span>
                                                <span class="col-md-6">
                                                {% if data.employment_type == 1 %}
                                                    {{ data.amount_of_hours }}
                                                {% elif data.employment_type == 2 %}
                                                    {{ data.hourly_rate }}
                                                {% endif %}
                                            </span>
                                            </li>
                                        {% elif base_profile.usertype == 3 %}
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Phonenumber' %}</span>
                                                <span class="col-md-6">{{ data.phonenumber }}</span>
                                            </li>
                                            <li class="row  text-center">
                                                <span class="col-md-12"><strong>{% trans 'Address' %}</strong></span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Street name' %}</span><span
                                                    class="col-md-6">{{ data.street_name }}</span></li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Zip code' %}</span><span
                                                    class="col-md-6">{{ data.zip_code }}</span></li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'City' %}</span><span
                                                    class="col-md-6">{{ data.city }}</span></li>
                                            <li class="row text-center">
                                                <span class="col-md-12"><strong>{% trans 'Customer parameter' %}</strong></span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Amount of bathrooms' %}</span>
                                                <span class="col-md-6">{{ data.amount_of_bathrooms }}</span>
                                            </li>
                                            <li class="row"><span
                                                    class="col-md-6">{% trans 'Amount of kitchens' %}</span><span
                                                    class="col-md-6">{{ data.amount_of_kitchens }}</span></li>
                                            <li class="row"><span class="col-md-6">{% trans 'Amount of floors' %}</span><span
                                                    class="col-md-6">{{ data.amount_of_floors }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {% if base_profile.usertype == 1 %}
                    <div class="card">
                        <div class="card-body">
                            {% include 'work/include/plan/_plan-prepare.html' %}
                        </div>
                    </div>
                    {% endif %}
                    {% if base_profile.usertype == 3 %}
                        {% for note_item in notes %}
                            <div class="card">
                                <div class="p-30">
                                    <h4><strong>{{ note_item.title }}</strong></h4>
                                    <p>{{ note_item.date|date:'d F Y' }}</p>
                                    <hr>
                                    <p>{% autoescape off %}
                                        {{ note_item.content }}
                                    {% endautoescape %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                    <div class="card">
                        <div class="card-body">
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static 'main/dist/assets/images/others/bell.png' %}" alt="">
                            <div class="text-center">
                                <h5 class="text-dark font-size-18"><b>{% trans 'Remind me' %}</b></h5>
                                {% if today_reminders %}
                                    {% for today_reminder_item in today_reminders %}
                                        <p class="text-dark font-size-15"><b>{{ today_reminder_item.name }}
                                            - {{ today_reminder_item.date_time|date:'d m Y H:i' }}</b></p>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-dark font-size-15">{% trans 'No Data' %}</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% if base_profile.usertype == 3 %}
                        <div class="card">
                            <div class="card-header border bottom">
                                <h4 class="card-title">{% trans 'My Card' %}</h4>
                                <div class="card-toolbar">
                                    <ul>
                                        <li>
                                            <a class="text-gray" href="{% url 'work:customer-add-edit-card' %}">
                                                <i class="mdi mdi-pencil font-size-20"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card widget-credit-card border-radius-8 bg-gradient-primary">
                                            <div class="card-body">
                                                <div class="m-b-40">
                                                    <h3 class="font-weight-light d-inline-block">{% trans 'Name Surname' %}</h3>
                                                    <div class="float-right">
                                                        <img src="{% static 'main/assets/images/others/visa-white.png' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="m-b-20">
                                                    <span class="text-semibold">Valid</span>
                                                    <span class="m-l-5">X / XX</span>
                                                </div>
                                                <h3 class="font-weight-light">
                                                    <span class="m-r-5">XXXX</span>
                                                    <span class="m-r-5">XXXX</span>
                                                    <span class="m-r-5">XXXX</span>
                                                    <span class="m-r-5">
                                                        {% if data.get_my_card %}{{ data.get_my_card.card_number_last }}{% else %}XXX{% endif %}
                                                    </span>
                                                </h3>
                                                <span class="font-weight-light">XXX</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->

{% endblock %}

{% block page_js_block %}


{% endblock %}