{% load static %}
{% load i18n %}

<link rel="stylesheet" href="{% static 'main/dist/assets/vendor/fullcalendar/fullcalendar.min.css' %}"/>
<link rel="stylesheet"
      href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}">


<div id="calendar"></div>
<div class="modal fade" id="event-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border bottom">
                <h4 class="modal-title" id="task-title">
                    {% trans 'Remove Task' %} - <span id="task-date-title"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row p-v-20">
                    <div class="col-sm-10 offset-sm-1">
                        <button style="width: 100%;" type="button" onclick="removeItem()" class="btn btn-success" id="calendar-task-remove-button" data-ajax-url="">{% trans 'Remove Task' %}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'main/dist/assets/vendor/moment/min/moment.min.js' %}"></script>
<script src="{% static 'main/dist/assets/vendor/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="{% static 'main/dist/assets/js/apps/calendar.js' %}"></script>
<script>
    +function ($, window) {

        $(document).ready(function () {

            var date = new Date();
{#            var d = date.getDate();#}
{#            var m = date.getMonth();#}
{#            var y = date.getFullYear();#}
            var events = [
                {% for task_date_item in task_dates %}
                    {
                        title: '{{ task_date_item.task.name }}',
                        remove_url: '{% url 'work:calendar-customer-task-remove' task_date_item.id %}',
                        start: new Date({{ task_date_item.date|date:'Y, n-1, j' }}),
                        allDay: true,
{#                        start: new Date(y, m, d + 1, 19, 0),#}
{#                        end: new Date(y, m, d + 1, 22, 30),#}
                        desc: '{{ task_date_item.task.description }}',
                        bullet: 'success'
                    },
                {% endfor %}
            ];


            $('#calendar').fullCalendar({
                height: 850,
                editable: true,
                header: {
                    left: 'month,agendaWeek,agendaDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end) {
{#                    $('.modal').modal('show');#}
                    $('.modal').find('#calendar-task-remove-button').attr('data-ajax-url','');
                },
                events: events,
                eventClick: function (event, element) {
{#                    alert(event.remove_url);#}
{#                    if (event.remove_url)#}
                    $('.modal').modal('show');
                    $('.modal').find('#task-date-title').text(event.title);
{#                    $('.modal').find('#id_object').val(event.id);#}
{#                    $('.modal').find('#start-date').val(event.start);#}
                    $('.modal').find('#calendar-task-remove-button').attr('data-ajax-url',event.remove_url);

                },
                editable: false
            });

            $('#start-date').datepicker();
            $('#end-date').datepicker();

        });
    }(jQuery, window);

</script>