{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    
{% endblock %}

{% block content_block %}

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="chat chat-app row">
                <div class="chat-list">
                    <div class="chat-user-tool">
                        <i class="search-icon mdi mdi-magnify p-r-10 font-size-20"></i>
                        <input placeholder="Search">
                    </div>
                    <div class="chat-user-list scrollable">
                        <div class="m-b-30 m-t-20">
                            <h6 class="p-h-20 text-uppercase text-semibold">Online</h6>
                            <ul class="list-media">
                                <li class="list-item unread-msg">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-1.jpg" alt="">
                                            <span class="status success"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title">Marshall Nichols</span>
                                            <span class="sub-title">Here's the story of a man...</span>
                                            <div class="float-item">
                                                <span class="chat-counter">2</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item unread-msg active">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                            <span class="status success"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title">Susie Willis</span>
                                            <span class="sub-title">Do you see any Teletubbies...</span>
                                            <div class="float-item">
                                                <span class="chat-counter">1</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-3.jpg" alt="">
                                            <span class="status success"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title">Debra Stewart</span>
                                            <span class="sub-title">Oh my God. I didn't even...</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="m-b-30">
                            <h6 class="p-h-20 text-uppercase text-semibold">Away</h6>
                            <ul class="list-media">
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-4.jpg" alt="">
                                            <span class="status away"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Francisco Vasquez</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-5.jpg" alt="">
                                            <span class="status away"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Jane Hunt</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-6.jpg" alt="">
                                            <span class="status away"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Ava Alexander</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-7.jpg" alt="">
                                            <span class="status away"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Shane Ross</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="m-b-30">
                            <h6 class="p-h-20 text-uppercase text-semibold">Busy</h6>
                            <ul class="list-media">
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                            <span class="status busy"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Erin Gonzales</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-9.jpg" alt="">
                                            <span class="status busy"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Alan Mills</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-10.jpg" alt="">
                                            <span class="status busy"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Nicole Wyne</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-11.jpg" alt="">
                                            <span class="status busy"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Darryl Day</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="javascript:void(0);" class="conversation-toggler media-hover p-h-20">
                                        <div class="media-img">
                                            <img src="assets/images/avatars/thumb-12.jpg" alt="">
                                            <span class="status busy"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title p-t-10">Riley Newman</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="chat-content">
                    <div class="conversation">
                        <div class="conversation-wrapper">
                            <div class="conversation-header">
                                <span class="recipient">Susie Willis</span>
                                <ul class="tools">
                                    <li>
                                        <a class="text-gray" href="javascript:void(0)">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>
                                    </li>
                                    <li class="d-md-none">
                                        <a class="text-gray conversation-toggler" href="javascript:void(0)">
                                            <i class="mdi mdi-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="conversation-body scrollable">
                                <div class="msg datetime">
                                    <span>7:57PM</span>
                                </div>
                                <div class="msg msg-recipient">
                                    <div class="user-img">
                                        <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Hey, what are you doing?</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-sent">
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Texting the most beautiful girl in the world.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-recipient">
                                    <div class="user-img">
                                        <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Oh? How Cute</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-sent">
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Yup but she's not replying so texting you</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-recipient">
                                    <div class="user-img">
                                        <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Okay</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg datetime">
                                    <span>8:05PM</span>
                                </div>
                                <div class="msg msg-recipient">
                                    <div class="user-img">
                                        <img src="assets/images/avatars/thumb-2.jpg" alt="">
                                    </div>
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Bye</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-sent">
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>I'm just kidding..!!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-sent">
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>Hello</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg msg-sent">
                                    <div class="bubble">
                                        <div class="bubble-wrapper">
                                            <span>It's me..can you hear me..!!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-footer">
                                <button class="upload-btn">
                                    <i class="ti-face-smile"></i>
                                </button>
                                <input class="chat-input" type="text" placeholder="Type a message...">
                                <button class="sent-btn">
                                    <i class="fa fa-send-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->

{% endblock %}

{% block page_js_block %}
    <script src="{% static 'main/dist/assets/js/apps/chat.js' %}"></script>

{% endblock %}