{% load static %}


    <style>
      #map {
{#        height: 100%;#}
        float: left;
        width: 100%;
        height: 500px;
      }
      #total {
        padding: 7px;
        margin: 0 0px 10px 0px;
        border-bottom: 2px dashed #26c281;
        border-top: 2px dashed #26c281;
        text-align: center;
        font-weight: 700;
        color: #333;
        font-size: 18px;
        background: azure;
      }
    </style>
    <div id="total"></div>
    <div id="map"></div>

    <script>
function initMap() {
    var $general_start_point = "";
    var $general_end_point = "";
{#    var $list = {{ map_data }};#}
    {% for map_data_item in map_data %}{% if forloop.first %} $general_start_point = "{{ map_data_item.0 }}"; {% endif %}{% if forloop.last %}$general_end_point = "{{ map_data_item.0 }}";{% endif %}{% endfor %}

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
{#    center: {lat: -24.345, lng: 134.46}  // Australia.#}
  });

  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer({
    draggable: true,
    map: map,
    panel: document.getElementById('right-panel')
  });

  directionsDisplay.addListener('directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });

  displayRoute($general_start_point, $general_end_point, directionsService,
      directionsDisplay);
}

function displayRoute(origin, destination, service, display) {
    var $general_waypoints = [
                        {% for map_data_item in map_data %}
                            {% if forloop.first or forloop.last %}{% else %}{location: "{{ map_data_item.0 }}"},{% endif %}
                        {% endfor %}
    ];
  service.route({
    origin: origin,
    destination: destination,
    waypoints: $general_waypoints,
    travelMode: 'DRIVING',
    avoidTolls: true
  }, function(response, status) {
    if (status === 'OK') {
      display.setDirections(response);
    } else {
      alert('Could not display directions due to: ' + status);
    }
  });
}

function computeTotalDistance(result) {
  var total = 0;
  var myroute = result.routes[0];
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }
  total = total / 1000;
  document.getElementById('total').innerHTML = total + ' km';
}
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDvv-kFV2Ql4HFcTVOUbyoU0qXjO_GFvs&callback=initMap"></script>
