{% load i18n %}
<li class="list-item border bottom">
    <button id="show-map-button" data-ajax-url=""
            onclick="showPlanMap('{% url 'work:team-plan-map-ajax' %}',{{ team_get_plans_w_d_customer_list }})"
            class="offset-md-3 col-md-6 btn btn-info btn-rounded btn-outline"  data-toggle="modal" data-target="#show-map-modal">
        {% trans 'Look' %}
    </button>
    <h3 class="todo-blue"></h3>
</li>