{% load static %}
{% load i18n %}
    <li class="list-item border bottom {{ team_get_plans_w_d }} {% if forloop.counter == 1 %}active{% endif %}">
        <a href="javascript:void(0);" class="media-hover p-20">
            <div class="media-img">
                <img src="{% static 'main/dist/assets/images/avatars/default-user.png' %}" alt="">
            </div>
            <div class="info">
                <span class="title">{{ team_get_plans_w_d_get_customer.customer.get_customer_name }}</span>
                <span class="sub-title">{{ team_get_plans_w_d_get_customer.customer.address }}</span>
                <span class="float-item font-size-11 p-t-5">{{ team_get_plans_w_d_get_customer_minute }} {% trans 'Minutes' %}</span>
            </div>
            {% if profile_type and profile_type == 1 %}
                <div class="info">
                <hr>
                    <span class="title">
                        <button onclick="showOtherPlans('{% url 'work:admin-team-plan-form-generate-ajax' %}',{{ team_get_plans_w_d.id }},{{ team_get_plans_w_d_get_customer.customer.id }},'{% url 'work:admin-team-plan-form-customer-ajax' team_get_plans_w_d.id team_get_plans_w_d_get_customer.customer_id %}','{% url 'work:admin-change-customer-position-ajax' team_get_plans_w_d_get_customer.id  %}')" type="button" class="btn btn-primary btn-rounded btn-outline btn-block" data-toggle="modal" data-target="#edit-customer-order-modal">
                            <i class="fa fa-edit"></i>
                            {% trans 'Edit' %}
                        </button>
                    </span>
                </div>
            {% endif %}
        </a>
    </li>








