{% load i18n %}
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans 'Week' %}: {{ week_item }}
                    | {% trans 'Day' %}: {{ get_day_name }} </h4>
                </div>
                <ul class="list-media">
