{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet" media="screen">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if reminder_obj %}{% trans 'Reminder edit' %} - {{ reminder_obj.name }}{% else %}
                        {% trans 'Reminder add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:reminders-list' %}" class="breadcrumb-item">{% trans 'Reminders (To Do)' %}</a>
                        <span class="breadcrumb-item active">{% if reminder_obj %}{% trans 'Reminder edit' %} -
                            {{ reminder_obj.name }}{% else %}{% trans 'Reminder add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if reminder_obj %}{% trans 'Reminder edit' %} - {{ reminder_obj.name }}{% else %}
                            {% trans 'Reminder add' %}{% endif %}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div id="business-all-div">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'User' %}</label>
                                        <div class="col-sm-10">
                                            {{ reminder_form.user }}
                                            {% if reminder_form.user.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ reminder_form.user.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Name' %}</label>
                                        <div class="col-sm-10">
                                            {{ reminder_form.name }}
                                            {% if reminder_form.name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ reminder_form.name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="id_date"
                                               class="col-sm-2 col-form-label control-label">{% trans 'Date' %}</label>
                                        <div class="input-group date form_datetime col-md-10"
                                             data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                                             data-link-field="dtp_input1">
                                            {{ reminder_form.date_time }}
                                            {% if reminder_form.date_time.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ reminder_form.date_time.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    <script type="text/javascript"
            src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    {% if LANGUAGE_CODE != 'en' %}
        <script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js" charset="UTF-8"></script>
    {% endif %}

    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>

    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
{#            placeholder: "Select",#}
{#            minimumSelectionSize: 1,#}
{#            maximumSelectionSize: 6,#}
            containerCssClass: ':all:'
        });
    </script>
    <script>

        $("#id_employee").prepend("<option value=''>{% trans 'Choose Employee' %}</option>").val('');
        $('#id_date_time').datetimepicker({
            language: '{{ LANGUAGE_CODE }}',
            inline: true,
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
{% endblock %}