{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet"
          href="{% static 'main/dist/assets/vendor/datatables/media/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Reminders list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:reminders-list' %}" class="breadcrumb-item">{% trans 'Reminders' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Reminder list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;"
                            onclick="window.location='{% url 'work:reminder-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
                {#                <div class="float-lg-right">#}
                {#                    <a href="{% url 'work:reminder-add' %}" class="btn btn-gradient-success m-b-25">#}
                {#                        <i class="ti-plus m-r-5"></i>#}
                {#                        <span>{% trans 'Reminder Add' %}</span>#}
                {#                    </a>#}
                {#                </div>#}
            </div>
            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                <div class="col-md-4 form-group ">
                    {{ search_form.search_key }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.start_date }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.end_date }}
                </div>
                <button type="button" class="col-md-12 btn btn-success" onclick="searchForm();">{% trans 'Search' %}</button>
            </form>
            <div class="row" id="data-list-datas">
                {% for data_item in datas %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="data-list-item-{{ data_item.id }}">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-inline-block">
                                    <h1 class="m-b-0 font-weight-light">{{ data_item.name }}</h1>
                                </div>
                                <div class="float-right m-t-15">
                                    <div class="align-self-end">
                                        <i class="ti-timer font-size-70 text-primary opacity-01"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="border top">
                                <div class="row no-gutters">
                                    <div class="col border right">
                                        <div class="p-20">
                                            <span class="m-b-10 opacity-07">{% trans 'Date' %}:</span>
                                            <span class="text-dark text-semibold m-l-5"> {{ data_item.date_time|date:'d F Y' }}</span>
                                            <div class="progress progress-sm m-t-15 m-b-0">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 70%"
                                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="p-20">
                                            <span class="m-b-10 opacity-07">{% trans 'Time' %}:</span>
                                            <span class="text-dark text-semibold m-l-5"> {{ data_item.date_time|date:'H:s' }}</span>
                                            <div class="progress progress-sm m-t-15 m-b-0">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                     style="width: 70%"
                                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col border right">
                                        <div class="p-20">
                                            <span class="text-dark text-semibold m-l-5"> <a
                                                    href="{% url 'work:reminder-edit' data_item.id %}"
                                                    class="btn btn-warning">{% trans 'Edit' %}</a> </span>
                                            <div class="progress progress-sm m-t-15 m-b-0">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                     style="width: 70%"
                                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="p-20">
                                            <span class="text-dark text-semibold m-l-5"> <a href="javascript:void(0);"
                                                                                            onclick="removeItem({{ data_item.id }},'{% url 'work:reminder-remove' data_item.id %}')"
                                                                                            class="btn btn-danger">{% trans 'Delete' %}</a> </span>
                                            <div class="progress progress-sm m-t-15 m-b-0">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                     style="width: 70%"
                                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/vendor/dragula-master/dist/dragula.js' %}"></script>
    <script src="{% static 'main/dist/assets/js/apps/task.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>


    <script>
        function searchForm() {
            $.get("{% url 'work:reminders-list' %}", $('#data-list-form').serialize())
                .done(function (data) {
                    $('#data-list-datas').html(data['_html']);
                });
        }
        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will not be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, delete it' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>

    <script>
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
    <script>
        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>

{% endblock %}
