{% load static %} {% load i18n %}
<tr id="data-list-item-{{ data_item.id }}">
    <td>{{ data_item.datetime|date:'d F Y, H:i' }}</td>
    <td>{{ data_item.pay_datetime|date:'d F Y, H:i' }}</td>
    <td>{{ data_item.amount }} {{ data_item.currency }}</td>
    <td>
        {% if data_item.paid %}
            <span class="badge badge-pill badge-gradient-success">{% trans 'Paid' %}</span>
        {% else %}
            <span class="badge badge-pill badge-warning">{% trans 'Pendding' %}</span>
        {% endif %}
    </td>
    <td>{{ data_item.type }}</td>
    <td class="text-center font-size-18">

    </td>
</tr>