{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% if complaint_obj %}{% trans 'Complaint edit' %} - {{ complaint_obj.complaint }}{% else %}{% trans 'Complaint add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:complaints-list' %}" class="breadcrumb-item">{% trans 'Complaints' %}</a>
                        <span class="breadcrumb-item active">{% if complaint_obj %}{% trans 'Complaint edit' %} - {{ complaint_obj.complaint }}{% else %}{% trans 'Complaint add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if complaint_obj %}{% trans 'Complaint edit' %} - {{ complaint_obj.complaint }}{% else %}{% trans 'Complaint add' %}{% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">
                                        {% trans 'Complaint' %}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ complaint_form.name }}
                                        {% if complaint_form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ complaint_form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_date" class="col-sm-2 col-form-label control-label">
                                        {% trans 'Content' %}
                                    </label>
                                    <div class="input-group date form_datetime col-md-10" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                        {{ complaint_form.content }}
                                        {% if complaint_form.content.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ complaint_form.content.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

{% endblock %}