{% load static %}
{% load i18n %}
{% if admin_count == 1 and admin_show %}
    <div class="col-md-12">
        <h3 class="admin-h3-title">{% trans 'Admin users' %}</h3>
    </div>
{% endif %}
{% if adminstrative_count == 1 and adminstrative_show %}
    <div class="col-md-12">
        <h3 class="admin-h3-title">{% trans 'Adminstrative users' %}</h3>
    </div>
{% endif %}
<div class="col-sm-6 col-md-4 col-lg-3" id="data-list-item-{{ data_item.id }}" >
    <div class="card contact-item" style="{% if my_profile.id == data_item.id %}background: floralwhite;{% endif %}">
        <div class="card-header p-15">
            {% if my_profile.usertype == 1 %}
                {% if data_item.usertype != 1 or my_profile.id == data_item.id %}
                    <div class="card-toolbar">
                        <ul>
                            <li class="dropdown dropdown-animated scale-left">
                                <a class="text-gray" data-toggle="dropdown"
                                   href="javascript:void(0)">
                                    <i class="mdi mdi-dots-vertical font-size-20"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="d-block">
                                        <a class="dropdown-item" href="{% url 'work:admin-edit' data_item.id %}">
                                            <i class="mdi mdi-pencil m-r-5"></i>
                                            <span>{% trans 'Edit Contact' %}</span>
                                        </a>
                                    </li>
                                    <li class="d-block">
                                        <a class="dropdown-item" href="javascript:void(0)"
                                        onclick="removeItem({{ data_item.id }}, '{% url 'work:admin-remove' data_item.id %}')">
                                            <i class="mdi mdi-delete m-r-5"></i>
                                            <span>{% trans 'Delete' %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="card-body m-b-15">
            <div class="contact-thumb">
                <img class="mx-auto d-block" src="{% static 'main/dist/assets/images/avatars/default-user.png' %}"
                     alt="">
            </div>
            <div class="text-center">
                <p class="text-dark m-b-0 "><b>{{ data_item.first_name }} {{ data_item.last_name }}</b></p>
                <span class="font-size-13">{{ data_item.email }}</span>
            </div>
        </div>
        {% if my_profile.usertype == 1 %}
            {% if data_item.usertype != 1 or my_profile.id == data_item.id %}
                <div class="border top bg-gray">
                    <div class="row">
                        <div class="col-6 border right">
                            <a href="{% url 'work:admin-edit' data_item.id %}"
                               class="p-v-10 d-block text-center text-gray">
                                <i class="mdi mdi-pencil font-size-20"></i>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);"
                               onclick="removeItem({{ data_item.id }}, '{% url 'work:admin-remove' data_item.id %}')"
                               class="p-v-10 d-block text-center text-gray">
                                <i class="mdi mdi-delete font-size-20"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>