{% load static %}
{% load i18n %}

<div class="side-nav expand-lg">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="side-nav-header">
                <span>Navigation</span>
            </li>
            <li class="nav-item">
                <a class="" href="{% url 'home:dashboard' %}">
                    <span class="icon-holder">
                        <i class="mdi mdi-gauge"></i>
                    </span>
                    <span class="title">{% trans 'Dashboard' %}</span>
                </a>
            </li>
            {% if base_profile.usertype == 1 %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-account-circle"></i>
                    </span>
                        <span class="title">{% trans 'Admin List' %}</span>
                        <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'work:admin-list' %}">{% trans 'Admins list' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'work:admin-add' %}">{% trans 'Create new admin' %}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if base_profile.usertype == 3 %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-note-text"></i>
                    </span>
                        <span class="title">{% trans 'Notes List' %}</span>
                        <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'work:notes-list' %}">{% trans 'Notes list' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'work:note-add' %}">{% trans 'Create new note' %}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if base_profile.usertype == 3 %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-cash-multiple"></i>
                    </span>
                        <span class="title">{% trans 'My Payments' %}</span>
                        <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'work:customers-payment-list' %}">{% trans 'All Payments' %}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'customer-list' in base_profile_permissions or 'customer-excel-upload' in base_profile_permissions or 'customer-create' in base_profile_permissions or base_profile.usertype == 1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="mdi mdi-account-circle"></i>
                        </span>
                            <span class="title">{% trans 'Customers' %}</span>
                            <span class="arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if 'customer-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:customers-list' 'active' %}">{% trans 'Customers list' %}</a>
                                </li>
                            {% endif %}
                            {% if 'customer-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:customer-add' %}">{% trans 'Create new customer' %}</a>
                                </li>
                            {% endif %}
                            {% if 'customer-excel-upload' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:customer-upload-from-excel' %}">{% trans 'Customer excel upload' %}</a>
                                </li>
                            {% endif %}
                            {% if 'all-payments-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:all-payments-list' %}">{% trans 'All Payments' %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'employee-list' in base_profile_permissions or 'employee-create' in base_profile_permissions  or base_profile.usertype == 1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-account"></i>
                    </span>
                            <span class="title">{% trans 'Employees' %}</span>
                            <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if 'employee-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:employees-list' 'active' %}">{% trans 'Employees list' %}</a>
                                </li>
                            {% endif %}
                            {% if 'employee-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:employee-add' %}">{% trans 'Create new employee' %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'subcontractor-list' in base_profile_permissions or 'subcontractor-create' in base_profile_permissions or base_profile.usertype == 1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-account-card-details"></i>
                    </span>
                            <span class="title">{% trans 'Subcontractors' %}</span>
                            <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if 'subcontractor-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:subcontractors-list'  'active' %}">{% trans 'Subcontractors list' %}</a>
                                </li>
                            {% endif %}
                            {% if 'subcontractor-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:subcontractor-add' %}">{% trans 'Subcontractor add' %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'team-list' in base_profile_permissions or 'team-create' in base_profile_permissions or base_profile.usertype == 1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-account-multiple"></i>
                    </span>
                            <span class="title">{% trans 'Teams' %}</span>
                            <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if 'team-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:teams-list' %}">{% trans 'Teams list' %}</a>
                                </li>
                            {% endif %}
                            {% if 'team-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:team-add' %}">{% trans 'Create new team' %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'reminder-list' in base_profile_permissions or 'reminder-create' in base_profile_permissions or base_profile.usertype == 1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="mdi mdi-calendar-clock"></i>
                        </span>
                            <span class="title">{% trans 'Reminders (To Do)' %}</span>
                            <span class="arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if 'reminder-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:reminders-list' %}">{% trans 'Reminders list' %}</a>
                                </li>
                            {% endif %}
                            {% if 'reminder-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                <li>
                                    <a href="{% url 'work:reminder-add' %}">{% trans 'Create new reminder' %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            {% if 'work-plans' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 2 %}
                <li class="nav-item">
                    <a class="" href="{% url 'work:team-plans' %}">
                    <span class="icon-holder">
                        <i class="mdi mdi-worker"></i>
                    </span>
                        <span class="title">{% trans 'Work plan' %}</span>
                    </a>
                </li>
            {% endif %}
            {% if 'complaint-create' in base_profile_permissions or 'complaint-list' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 3 %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="mdi mdi-alert"></i>
                        </span>
                        <span class="title">{% trans 'Complaints' %}</span>
                        <span class="arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if 'complaint-list' in base_profile_permissions or base_profile.usertype == 1  or base_profile.usertype == 3 %}
                            <li>
                                <a href="{% url 'work:complaints-list' %}">{% trans 'Complaints' %}</a>
                            </li>
                        {% endif %}

                        {% if 'complaint-create' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 3 %}
                            <li>
                                <a href="{% url 'work:complaint-add' %}">{% trans 'Complaint write' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if 'task-list' in base_profile_permissions or 'task-create' in base_profile_permissions or base_profile.usertype == 1 %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                        <span class="title">{% trans 'Tasks' %}</span>
                        <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if 'task-list' in base_profile_permissions or base_profile.usertype == 1 %}
                            <li>
                                <a href="{% url 'work:tasks-list' %}">{% trans 'Tasks list' %}</a>
                            </li>
                        {% endif %}
                        {% if 'task-create' in base_profile_permissions or base_profile.usertype == 1 %}
                            <li>
                                <a href="{% url 'work:task-add' %}">{% trans 'Create new task' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if 'calendar-show' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 3 %}
                <li class="nav-item">
                    <a class="" href="{% url 'work:calendar-show' %}">
                    <span class="icon-holder">
                        <i class="mdi mdi-calendar"></i>
                    </span>
                        <span class="title">{% trans 'Calendar' %}</span>
                    </a>
                </li>
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'economy' in base_profile_permissions or base_profile.usertype == 1 %}
                    <li class="nav-item">
                        <a class="" href="{% url 'work:economy-chart' %}">
                    <span class="icon-holder">
                        <i class="mdi mdi-chart-areaspline"></i>
                    </span>
                            <span class="title">{% trans 'Economy' %}</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                {% if 'salary' in base_profile_permissions or base_profile.usertype == 1 %}
                    <li class="nav-item">
                        <a class="" href="{% url 'work:salary-info' %}">
                    <span class="icon-holder">
                        <i class="mdi mdi-currency-eur"></i>
                    </span>
                            <span class="title">{% trans 'Salary' %}</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fa fa-wrench"></i>
                    </span>
                        <span class="title">{% trans 'Settings' %}</span>
                        <span class="arrow">
                        <i class="mdi mdi-chevron-right"></i>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if 'service-list' in base_profile_permissions or 'service-create' in base_profile_permissions or base_profile.usertype == 1 %}
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0);">
                                    <span>{% trans 'Services' %}</span>
                                    <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if 'service-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                        <li>
                                            <a href="{% url 'work:services-list' %}">{% trans 'Services list' %}</a>
                                        </li>
                                    {% endif %}
                                    {% if 'service-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                        <li>
                                            <a href="{% url 'work:service-add' %}">{% trans 'Service add' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if 'cleaning-program-list' in base_profile_permissions or 'cleaning-program-create' in base_profile_permissions or base_profile.usertype == 1 %}
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0);">
                                    <span>{% trans 'Cleaning program' %}</span>
                                    <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if 'cleaning-program-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                        <li>
                                            <a href="{% url 'work:cleaning-programs-list' %}">{% trans 'Cleaning programs list' %}</a>
                                        </li>
                                    {% endif %}
                                    {% if 'cleaning-program-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                        <li>
                                            <a href="{% url 'work:cleaning-program-add' %}">{% trans 'Cleaning program add' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a href="javascript:void(0);">
                                <span>{% trans 'Snippets' %}</span>
                                <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                            </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'work:snippets-list' %}">{% trans 'Snippets list' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'work:snippet-add' %}">{% trans 'Create new snippet' %}</a>
                                </li>
                            </ul>
                        </li>
                        {% if 'contract-template-list' in base_profile_permissions or 'contract-template-create' in base_profile_permissions or base_profile.usertype == 1 %}
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i class="mdi mdi-account-multiple"></i>
                                    </span>
                                    <span class="title">{% trans 'Contract templates' %}</span>
                                    <span class="arrow">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if 'contract-template-list' in base_profile_permissions or base_profile.usertype == 1 %}
                                        <li>
                                            <a href="{% url 'work:contract-template-list' %}">{% trans 'Contract templates list' %}</a>
                                        </li>
                                    {% endif %}
                                    {% if 'contract-template-create' in base_profile_permissions or base_profile.usertype == 1 %}
                                        <li>
                                            <a href="{% url 'work:contract-template-add' %}">{% trans 'Create new contract template' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

