{% load static %}{% load i18n %}
<ul class="dropdown-menu dropdown-grid col-3 dropdown-lg">
    <li>
        <a href="{% url 'home:dashboard' %}">
            <div class="text-center">
                <i class="mdi mdi mdi-gauge font-size-30 icon-gradient-success"></i>
                <p class="m-b-0">{% trans 'Dashboard' %}</p>
            </div>
        </a>
    </li>

    {% if base_profile.usertype == 1 %}
        <li>
            <a href="{% url 'work:admin-add' %}">
                <div class="text-center">
                    <i class="mdi mdi-account-circle font-size-30 icon-gradient-success"></i>
                    <p class="m-b-0">{% trans 'Admins' %}</p>
                </div>
            </a>
        </li>
    {% endif %}
    {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
        {% if 'customer-list' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:customers-list' 'active' %}">
                    <div class="text-center">
                        <i class="mdi mdi-account-circle font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Customers' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
        {% if 'employee-list' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:employees-list' 'active' %}">
                    <div class="text-center">
                        <i class="mdi mdi-account font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Employees' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
        {% if 'subcontractor-list' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:subcontractors-list' 'active' %}">
                    <div class="text-center">
                        <i class="mdi mdi-account-card-details font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Subcontractors' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
        {% if 'team-list' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:teams-list' %}">
                    <div class="text-center">
                        <i class="mdi mdi-account-multiple font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Teams' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if base_profile.usertype == 1 or base_profile.usertype == 4 %}
        {% if 'reminder-list' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:reminders-list' %}">
                    <div class="text-center">
                        <i class="mdi mdi-calendar-clock font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Reminders' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if 'task-list' in base_profile_permissions or base_profile.usertype == 1 %}
        <li>
            <a href="{% url 'work:tasks-list' %}">
                <div class="text-center">
                    <i class="mdi mdi-calendar-check font-size-30 icon-gradient-success"></i>
                    <p class="m-b-0">{% trans 'Tasks' %}</p>
                </div>
            </a>
        </li>
    {% endif %}
    {% if 'calendar-show' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 3 %}
        <li>
            <a href="{% url 'work:calendar-show' %}">
                <div class="text-center">
                    <i class="mdi mdi-calendar font-size-30 icon-gradient-success"></i>
                    <p class="m-b-0">{% trans 'Calendar' %}</p>
                </div>
            </a>
        </li>
    {% endif %}
    {% if base_profile.usertype == 3 %}
        <li>
            <a href="{% url 'work:notes-list' %}">
                <div class="text-center">
                    <i class="mdi mdi-note-text font-size-30 icon-gradient-success"></i>
                    <p class="m-b-0">{% trans 'Notes' %}</p>
                </div>
            </a>
        </li>
    {% endif %}
    {% if base_profile.usertype == 1 %}
        {% if 'economy' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:economy-chart' %}">
                    <div class="text-center">
                        <i class="mdi mdi-chart-areaspline font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Economy' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
        {% if 'salary' in base_profile_permissions or base_profile.usertype == 1 %}
            <li>
                <a href="{% url 'work:salary-info' %}">
                    <div class="text-center">
                        <i class="mdi mdi-currency-eur font-size-30 icon-gradient-success"></i>
                        <p class="m-b-0">{% trans 'Salary' %}</p>
                    </div>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if 'work-plans' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 2 %}
        <li>
            <a href="{% url 'work:team-plans' %}">
                <div class="text-center">
                    <i class="mdi mdi-worker font-size-30 icon-gradient-success"></i>
                    <p class="m-b-0">{% trans 'Work plan' %}</p>
                </div>
            </a>
        </li>
    {% endif %}
    {% if 'complaint-list' in base_profile_permissions or base_profile.usertype == 1 or base_profile.usertype == 3 %}
    <li>
        <a href="{% url 'work:complaints-list' %}">
            <div class="text-center">
                <i class="mdi mdi mdi-alert font-size-30 icon-gradient-success"></i>
                <p class="m-b-0">{% trans 'Complaints' %}</p>
            </div>
        </a>
    </li>
    {% endif %}
</ul>