{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    {#    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">#}
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
    <style>
        #data-list-main-content .text-center {
            width: 100%;
        }

        .admin-h3-title {
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            margin: 10px auto;
            background: aliceblue;
            font-weight: 500;
        }
    </style>
{% endblock %}


{% block content_block %}

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Admins list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:admin-list' %}" class="breadcrumb-item">{% trans 'Admins' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Admins list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;" onclick="window.location='{% url 'work:admin-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>

            </div>
            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                <div class="col-md-4 col-lg-4 col-sm-12 form-group ">
                    {{ search_form.first_name }}
                </div>
                <div class="col-md-4 col-lg-4  col-sm-12 form-group ">
                    {{ search_form.last_name }}
                </div>
                <div class="col-md-4 col-lg-4  col-sm-12 form-group ">
                    {{ search_form.email }}
                </div>
                <div class="col-md-6 col-lg-6 form-group ">
                    {{ search_form.usertype }}
                </div>
                <div class="col-md-6 col-lg-6 form-group " id="private-all-div"
                     style="display: none;">
                    {{ search_form.permission }}
                </div>
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6  form-group ">

                    <button type="button" class="btn btn-success" style="margin: 0;width: 100%;"
                            onclick="searchForm();">{% trans 'Search' %}</button>
                </div>
            </form>
            <div class="card">
                <div class="container p-h-0">
                    <div class="card-header m-t-30">
                        <div class="card-toolbar">
                            <ul>
                                <li>
                                    <a class="text-gray" href="{% url 'work:admin-add' %}">
                                        <i class="mdi mdi-account-plus font-size-20"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="text-center">{% trans 'Adminstration' %}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row" id="data-list-main-content">
                            <div class='text-center'>
                                <img style='margin: 10px auto;'
                                     src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
{% endblock %}


{% block page_js_block %}

    <!-- page js -->
    <script src="{% static 'main/dist/assets/js/apps/chat.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.get("", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
    </script>




    <script>

        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, sure' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Activated' %}!", data['message'], "success");
                                } else if (data['message_code'] == 2) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>


{% endblock %}