{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block  %}

{% endblock %}

{% block page_css_block  %}

    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/dist/assets/metro/global/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/dist/assets/metro/global/plugins/jquery-multi-select/css/multi-select.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/dist/assets/metro/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/dist/assets/metro/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
{#{{ admin_form.media }}#}
    <style>
    .ms-container{
        width: 100%;
    }
    </style>
{% endblock %}


{% block content_block  %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if g_user %}{% trans 'Admin edit' %} - {{ g_user.first_name }} {{ g_user.last_name }} {% else %} {% trans 'Admin add' %} {% endif %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:admin-list' %}" class="breadcrumb-item">{% trans 'Admins' %}</a>
                        <span class="breadcrumb-item active">
                            {% if customer_obj %}{% trans 'Admin edit' %} - {{ admin_obj.full_name }} {% else %} {% trans 'Admin add' %} {% endif %}
                        </span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;" onclick="window.location='{% url 'work:admin-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if g_user %}{% trans 'Admin edit' %} - {{ g_user.first_name }} {{ g_user.last_name }} {% else %} {% trans 'Admin add' %} {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10">
                            <form role="form" id="form-validation" method="post">
                            {% csrf_token %}

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'User type' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.usertype }}
                                        {% if admin_form.usertype.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.usertype.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'First name' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.name }}
                                        {% if admin_form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Last name' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.surname }}
                                        {% if admin_form.surname.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.surname.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Email' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.email }}
                                        {% if admin_form.email.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.email.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row" id="permission-all-div">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Permissions' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.permissions }}
                                        {% if admin_form.permissions.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.permissions.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Password' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.password }}
                                        {% if admin_form.password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Retype Password' %}</label>
                                    <div class="col-sm-10">
                                        {{ admin_form.retype_password }}
                                        {% if admin_form.retype_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ admin_form.retype_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block  %}


        <script src="{% static 'main/dist/assets/metro/global/plugins/bootstrap-select/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/dist/assets/metro/global/plugins/jquery-multi-select/js/jquery.multi-select.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/dist/assets/metro/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/dist/assets/metro/pages/scripts/components-multi-select.min.js' %}" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
    <script>


        $(document).ready(function () {
            userTypeFun();
        });


        var id_usertype = $('#id_usertype');
        var permission_all_div = $('#permission-all-div');
        function userTypeFun() {
            if (id_usertype.val() == 1) {
                permission_all_div.hide();
            }else if (id_usertype.val() == 4) {
                permission_all_div.show();
            }else{
                permission_all_div.hide();
            }
        }
        id_usertype.change(function () {
            userTypeFun();
        });
    </script>
    <script>
{#    addEvent(window, "load", function(e) {SelectFilter.init("id_permissions", "Categories", 0, "/static/admin/"); });#}
    {#    $( '<a class="btn btn-danger" onclick="passwordGenerator()">Şifrə Generatoru</a>' ).insertAfter( "#user-password" );#}
        function generatePassword() {
            var length = 16,
                charset = "!@#$%^&*abcdefghijklmnopqrstuvwxyz!@#$%^&*ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*",
                retVal = "";
            for (var i = 0, n = charset.length; i < length; ++i) {
                retVal += charset.charAt(Math.floor(Math.random() * n));
            }
            return retVal;
        }
        function passwordGenerator($id) {
            $('#'+$id).val(generatePassword());
        }
    </script>
{% endblock %}