{% load static %}
{% load i18n %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="data-list-item-{{ data_item.id }}">
    <div class="card">
        <div class="card-body">
            <div class="d-inline-block">
                <h3 class="m-b-0 font-weight-light">
                    {{ data_item.name }}
                </h3>
            </div>
        </div>
        <div class="border top">
            <div class="row no-gutters">
                <div class="col border right">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Task type' %}:</span>
                        <span class="text-dark text-semibold m-l-5">
                            {% if data_item.task_type == 1 %}
                                {{ data_item.get_task_type }}
                            {% elif data_item.task_type == 2 %}
                                {% if date_type_fixed != 4 %}
                                    {{ data_item.get_date_type_fixed }}
                                {% else %}
{#                                    {{ data_item.get_date_type_custom }}#}
                                {% endif %}
                            {% endif %}
                        </span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Cleaning program' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.cleaning_program.name }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Total time' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.total_time }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Total price' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.total_price }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                {% if my_profile.usertype == 1 or 'task-edit' in my_profile.permissions %}
                    <div class="col border right">
                        <div class="p-20">
                        <span class="text-dark text-semibold m-l-5"> <a
                                href="{% url 'work:task-edit' data_item.id %}"
                                class="btn btn-warning">{% trans 'Edit' %}</a> </span>
                            <div class="progress progress-sm m-t-15 m-b-0">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if my_profile.usertype == 1 or 'task-delete' in my_profile.permissions %}
                    <div class="col">
                        <div class="p-20">
                        <span class="text-dark text-semibold m-l-5">
                            <a href="javascript:void(0);" onclick="removeItem({{ data_item.id }},'{% url 'work:task-remove' data_item.id %}')" class="btn btn-danger">
                                {% trans 'Delete' %}
                            </a>
                        </span>
                            <div class="progress progress-sm m-t-15 m-b-0">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>