{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if subcontractor_obj %}{% trans 'Subcontractor edit' %} - {{ subcontractor_obj.company_name }}{% else %}{% trans 'Subcontractor add' %}{% endif %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:subcontractors-list' 'active' %}" class="breadcrumb-item">{% trans 'Subcontractors' %}</a>
                        <span class="breadcrumb-item active">
                            {% if subcontractor_obj %}{% trans 'Subcontractor edit' %} - {{ subcontractor_obj.company_name }}{% else %}{% trans 'Subcontractor add' %}{% endif %}
                        </span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">{% if subcontractor_obj %}{% trans 'Subcontractor edit' %} - {{ subcontractor_obj.company_name }}{% else %}{% trans 'Subcontractor add' %}{% endif %}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div id="business-all-div">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Company name' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.company_name }}
                                            {% if subcontractor_form.company_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.company_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Company registration number' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.cvr_number }}
                                            {% if subcontractor_form.cvr_number.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.cvr_number.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <fieldset>
                                    <legend>{% trans 'Address' %}:</legend>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Street name' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.street_name }}
                                            {% if subcontractor_form.street_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.street_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Zip Code' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.zip_code }}
                                            {% if subcontractor_form.zip_code.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.zip_code.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'City' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.city }}
                                            {% if subcontractor_form.city.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.city.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </fieldset>
                                <hr>
                                <fieldset>
                                    <legend>{% trans 'Contact person' %}:</legend>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Full name' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.full_name }}
                                            {% if subcontractor_form.full_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.full_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Phone number' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.phonenumber }}
                                            {% if subcontractor_form.phonenumber.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.phonenumber.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Email' %}</label>
                                        <div class="col-sm-10">
                                            {{ subcontractor_form.email }}
                                            {% if subcontractor_form.email.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ subcontractor_form.email.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </fieldset>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

{% endblock %}