{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}
    {% trans 'Subcontractors list' %}
{% endblock %}

{% block metatag_block  %}

{% endblock %}

{% block page_css_block  %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/datatables/media/css/dataTables.bootstrap4.min.css' %}" />
    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
{% endblock %}


{% block content_block  %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Subcontractors list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:subcontractors-list' 'active' %}" class="breadcrumb-item">{% trans 'Subcontractors' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Subcontractors list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;" onclick="window.location='{% url 'work:subcontractor-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
            </div>
        <div class="row" id="data-list-links">
            <button onclick="window.location='{% url 'work:subcontractors-list' 'active' %}'" class="col-md-6 btn btn-gradient-success">{% trans 'Active' %}</button>
            <button onclick="window.location='{% url 'work:subcontractors-list' 'removed' %}'" class="col-md-6 btn btn-gradient-danger">{% trans 'Removed' %}</button>
        </div>


            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                <div class="col-md-6 form-group ">
                    {{ search_form.company_name }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.cvr_number }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.street_name }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.zip_code }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.city }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.full_name }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.phonenumber }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.email }}
                </div>
                <div class="col-md-12 form-group ">

                <button type="button" class="btn btn-success" style="margin: 0;width: 100%;"
                        onclick="searchForm();">{% trans 'Search' %}</button>
                </div>
            </form>
            <div class="card">
                <div class="card-body">
                    <div class="table-overflow" id="data-list-main-content">
                        <div class='text-center'>
                            <img style='margin: 10px auto;'
                                 src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block  %}

    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>

    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.get("{% url 'work:subcontractors-list' op_slug %}", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>

    <script>
        function removeItem($id,$url) {

			swal({
				title: "{% trans 'Are you sure' %}?",
				text: "{% trans 'You will be able to recover this data' %}!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "{% trans 'Yes, sure' %} !",
				cancelButtonText: "{% trans 'No, cancel' %} !",
				closeOnConfirm: false,
				closeOnCancel: false
			},
		  function(isConfirm){
				if (isConfirm) {
                    $.get( $url, {} )
                      .done(function( data ) {
                        if (data['message_code'] == 1){
                            $('#data-list-item-'+$id).remove();
					        swal("{% trans 'Activated' %}!", data['message'], "success");
                        }else if (data['message_code'] == 2) {
                            $('#data-list-item-'+$id).remove();
					        swal("{% trans 'Deleted' %}!", data['message'], "success");
                        }else{
                            swal("Cancelled", data['message'], "error");
                        }
                      });
				} else {
					swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
				}
			});


        }
    </script>

{% endblock %}