{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>

{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Change Password' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a class="breadcrumb-item">{% trans 'Change Password' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Change Password' %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">{% trans 'Change Password' %}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Old password' %}</label>
                                    <div class="col-sm-10">
                                        {{ form.old_password }}
                                        {% if form.old_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.old_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label control-label">{% trans 'Password Generator' %}</label>
                                    <div class="col-sm-6">
                                        <a href="javascript:void(0);" class="btn btn-danger" onclick="passwordGenerator('id_new_password');">{% trans 'Password Generator' %}</a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'New password' %}</label>
                                    <div class="col-sm-10">
                                        {{ form.new_password }}
                                        {% if form.new_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.new_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
<script>
{#    $( '<a class="btn btn-danger" onclick="passwordGenerator()">Şifrə Generatoru</a>' ).insertAfter( "#user-password" );#}
    function generatePassword() {
        var length = 16,
            charset = "!@#$%^&*abcdefghijklmnopqrstuvwxyz!@#$%^&*ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*",
            retVal = "";
        for (var i = 0, n = charset.length; i < length; ++i) {
            retVal += charset.charAt(Math.floor(Math.random() * n));
        }
        return retVal;
    }
    function passwordGenerator($id) {
        $('#'+$id).val(generatePassword());
    }

{% if message %}
    swal("{% trans 'Password has changed' %}!", '{{ message }}', "success");
    setTimeout(function(){
        window.location = '{% url 'base-user:login' %}';
    }, 3000);

{% endif %}


</script>
{% endblock %}