{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CC Rengøring CRM - {% trans 'login' %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'main/dist/assets/images/logo/favicon.png' %}">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />

    <!-- page css -->

    <!-- core css -->
    <link href="{% static 'main/dist/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/app.css' %}" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="layout bg-gradient-info">
            <div class="container">
                <div class="row full-height align-items-center">
                    <div class="col-md-7 d-none d-md-block">
                        <div class="m-t-15 m-l-20">
                            <h1 class="font-weight-light font-size-35 text-white">CC Rengøring CRM</h1>
                            <h1 class="font-weight-light font-size-20 text-white">{% trans 'Email' %}: demo@mail.com</h1>
                            <h1 class="font-weight-light font-size-20 text-white">{% trans 'Password' %}: demoadmin</h1>
                            <p class="text-white width-70 text-opacity m-t-25 font-size-16">{% trans 'This web applications purpose is to manage the client and employee informations, and also plan their work.' %}</p>
                            <div class="m-t-60">
                                <a href="#" class="text-white text-link m-r-15">{% trans 'Term &amp; Conditions' %}</a>
                                <a href="#" class="text-white text-link">{% trans 'Privacy &amp; Policy' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card card-shadow">
                            <div class="card-body">
                                <div class="p-h-15 p-v-40">
                                    <h2>{% trans 'Login' %}</h2>
                                    {% if message_login %}
                                        <p class="m-b-15 font-size-13 alert alert-danger">{{ message_login }}</p>
                                    {% endif %}
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ login_form.lemail }}
                                        </div>
                                        <div class="form-group">
                                            {{ login_form.lpassword }}
                                        </div>
                                        <div class="form-group">
                                            {{ login_form.remember_me }}
                                            <label for="id_remember_me">
                                                {% trans 'Remember me' %}
                                            </label>
                                        </div>
                                        <button class="btn btn-block btn-lg btn-gradient-success">{% trans 'Login' %}</button>
                                        <div class="text-center m-t-30">
{#                                            <a href="#" class="text-gray text-link text-opacity">Forget Password?</a>#}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'main/dist/assets/js/vendor.js' %}"></script>

    <script src="{% static 'main/dist/assets/js/app.min.js' %}"></script>

    <!-- page js -->
    
</body>


</html>