{% load static %}
{% load i18n %}
<tr id="data-list-item-{{ data_item.id }}">
    <td>{{ data_item.date|date:'d F Y' }}</td>
    <td><span
            class="badge badge-pill {% if data_item.customer_type == 1 %}badge-danger{% elif data_item.customer_type == 2 %}badge-success{% endif %}">{{ data_item.get_customer_type }}</span>
    </td>
    <td>
        <div class="list-media">
            <div class="list-item">
                <div class="info">
                    {% if data_item.customer_type == 1 %}
                        <span class="title">{{ data_item.full_name }}</span>
                    {% elif data_item.customer_type == 2 %}
                        <span class="title">{{ data_item.company_name }}</span>
                        <span class="title">{{ data_item.contact_person }}</span>
                        <span class="title">{{ data_item.cvr_number }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </td>
    <td>{{ data_item.phonenumber }}</td>
    <td>{{ data_item.user.email }}</td>
    <td>{{ data_item.street_name }}</td>
    <td>{{ data_item.zip_code }}</td>
    <td>{{ data_item.city }}</td>
    <td>{{ data_item.start_date|date:'d F Y' }}</td>
    <td class="text-center font-size-18">
        <a href="{% url 'work:user-profile' data_item.user.id %}"
           class="text-gray m-r-15"><i class="ti-eye"></i></a>
        {% if my_profile.usertype == 1 or 'customer-edit' in my_profile.permissions %}
            <a href="{% url 'work:customer-edit' data_item.id %}" class="text-gray m-r-15">
                <i class="ti-pencil"></i>
            </a>
        {% endif %}
        {% if my_profile.usertype == 1 or 'customer-delete' in my_profile.permissions %}
            <a href="javascript:void(0);"
               onclick="removeItem({{ data_item.id }},'{% url 'work:customer-remove' data_item.id %}')"
               class="text-gray">
                {% if data_item.deleted %}
                    <i class="ti-reload"></i>
                {% else %}
                    <i class="ti-trash"></i>
                {% endif %}
            </a>
        {% endif %}
    </td>
</tr>