{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if snippet_obj %}{% trans 'Snippet edit' %} - {{ snippet_obj.snippet }}{% else %}
                        {% trans 'Snippet add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:snippets-list' %}" class="breadcrumb-item">{% trans 'Snippets' %}</a>
                        <span class="breadcrumb-item active">{% if snippet_obj %}{% trans 'Snippet edit' %} -
                            {{ snippet_obj.snippet }}{% else %}{% trans 'Snippet add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if snippet_obj %}{% trans 'Snippet edit' %} - {{ snippet_obj.snippet }}{% else %}
                            {% trans 'Snippet add' %}{% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                            <form role="form" id="snipt-list-form" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">
                                        {% trans 'Snippet user type' %}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ snippet_form.snippet_user_type }}
                                        {% if snippet_form.snippet_user_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ snippet_form.snippet_user_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">
                                        {% trans 'Snippet' %}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ snippet_form.snippet }}
                                        {% if snippet_form.snippet.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ snippet_form.snippet.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    {% if LANGUAGE_CODE != 'en' %}
        <script type="text/javascript"
                src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js"
                charset="UTF-8"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'main/dist/assets/js/slugify.js' %}"></script>
    <script>
        var id_snippet = $("#id_snippet");
        var id_snippet_user_type = $('#id_snippet_user_type');
        function getSnippets() {
            {#            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");#}
            $.post("{% url 'work:get-snippet-ajax' 'option-list' %}", $('#snipt-list-form').serialize())
                .done(function (data) {
                    id_snippet.html(data['result']);
                });
        }
        id_snippet_user_type.change(function () {
            getSnippets();
        });

        $(document).ready(function () {
            getSnippets();
        });


    </script>


{% endblock %}