{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <style>
        .information-details li {
            cursor: pointer;
            padding: 6px 0;
            border-bottom: 1px solid #ccc;
            background: aliceblue;
        }

        .information-details li:hover {
            padding: 6px 2px;
            background: #f7f8f9;
        }
    </style>
{% endblock %}

{% block content_block %}

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row m-v-30">
                        <div class="col-sm-3">
                            <img class="img-fluid rounded-circle d-block mx-auto m-b-30"
                                 src="{% static 'main/dist/assets/images/avatars/default-user.png' %}"
                                 style="height: 200px;" alt="">
                        </div>
                        <div class="col-sm-4 text-center text-sm-left">
                            <h2 class="m-b-5">
                                {% if view_profile.usertype == 1 %}
                                    {{ view_profile.first_name }} {{ view_profile.last_name }}
                                {% elif view_profile.usertype == 2 %}
                                    {{ data.full_name }}
                                {% elif view_profile.usertype == 3 %}
                                    {% if data.customer_type == 1 %}
                                        {{ data.full_name }}
                                    {% elif data.customer_type == 2 %}
                                        {{ data.company_name }}
                                    {% endif %}
                                {% endif %}
                            </h2>
                            <p class="text-opacity m-b-20 font-size-13">

                                {% if view_profile.usertype == 1 %}
                                    <strong>{{ view_profile.email }}</strong>
                                {% elif view_profile.usertype == 2 %}

                                {% elif view_profile.usertype == 3 %}

                                    {% if data.customer_type == 2 %}
                                        {{ data.cvr_number }} / {{ data.contact_person }}
                                    {% endif %}

                                {% endif %}
                            </p>
                            <p class="text-dark">
                                {% if view_profile.usertype == 1 %}
                                    <strong>{% trans 'Admin' %}</strong>
                                {% elif view_profile.usertype == 2 %}
                                    <strong>{% trans 'Employee' %}</strong>
                                {% elif view_profile.usertype == 3 %}
                                    <strong>{% trans 'Customer' %}</strong>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-lg-9">
                                    <ul class="information-details">

                                        {% if view_profile.usertype == 1 %}
                                            <li class="row"><span class="col-md-6">{% trans 'Email' %}</span><span
                                                    class="col-md-6">{{ view_profile.email }}</span></li>
                                        {% elif view_profile.usertype == 2 %}
                                            <li class="row"><span class="col-md-6">{% trans 'Birth date' %}</span><span
                                                    class="col-md-6">{{ data.birth_date }}</span></li>
                                            <li class="row"><span class="col-md-6">{% trans 'Phonenumber' %}</span><span
                                                    class="col-md-6">{{ data.phonenumber }}</span></li>
                                            <li class="row text-center">
                                                <span class="col-md-12 text-center"><strong>{% trans 'Address' %}</strong></span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Street name' %}</span>
                                                <span class="col-md-6">{{ data.street_name }}</span>
                                            </li>
                                            <li class="row"><span class="col-md-6">{% trans 'Zip code' %}</span><span
                                                    class="col-md-6">{{ data.zip_code }}</span>
                                            </li>
                                            <li class="row"><span class="col-md-6">{% trans 'City' %}</span><span
                                                    class="col-md-6">{{ data.city }}</span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Started date' %}</span>
                                                <span class="col-md-6">{{ data.start_date }}</span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Employment type' %}</span>
                                                <span class="col-md-6">{{ data.get_employment_type }}</span>
                                            </li>
                                            <li class="row"><span class="col-md-6">{% trans 'Price' %}</span>
                                                <span class="col-md-6">
                                                {% if data.employment_type == 1 %}
                                                    {{ data.amount_of_hours }}
                                                {% elif data.employment_type == 2 %}
                                                    {{ data.hourly_rate }}
                                                {% endif %}
                                            </span>
                                            </li>
                                        {% elif view_profile.usertype == 3 %}
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Phonenumber' %}</span>
                                                <span class="col-md-6">{{ data.phonenumber }}</span>
                                            </li>
                                            <li class="row  text-center">
                                                <span class="col-md-12"><strong>{% trans 'Address' %}</strong></span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Street name' %}</span><span
                                                    class="col-md-6">{{ data.street_name }}</span></li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Zip code' %}</span><span
                                                    class="col-md-6">{{ data.zip_code }}</span></li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'City' %}</span><span
                                                    class="col-md-6">{{ data.city }}</span></li>
                                            <li class="row text-center">
                                                <span class="col-md-12"><strong>{% trans 'Customer parameter' %}</strong></span>
                                            </li>
                                            <li class="row">
                                                <span class="col-md-6">{% trans 'Amount of bathrooms' %}</span>
                                                <span class="col-md-6">{{ data.amount_of_bathrooms }}</span>
                                            </li>
                                            <li class="row"><span
                                                    class="col-md-6">{% trans 'Amount of kitchens' %}</span><span
                                                    class="col-md-6">{{ data.amount_of_kitchens }}</span></li>
                                            <li class="row"><span class="col-md-6">{% trans 'Amount of floors' %}</span><span
                                                    class="col-md-6">{{ data.amount_of_floors }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title m-b-25">{% trans 'Tasks' %}</h4>
                            <ul class="list-media">
                                <li class="list-item">
                                    <div class="p-b-15">
                                        <div class="media-img">
                                            <img src="{% static 'main/dist/assets/images/avatars/thumb-14.jpg' %}" alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title">Hawksong</span>
                                            <span class="sub-title">Music</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="p-v-15">
                                        <div class="media-img">
                                            <img src="{% static 'main/dist/assets/images/avatars/thumb-15.jpg' %}"
                                                 alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title">Notepen</span>
                                            <span class="sub-title">Office</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="p-v-15">
                                        <div class="media-img">
                                            <img src="{% static 'main/dist/assets/images/avatars/thumb-16.jpg' %}"
                                                 alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title">GoFlight</span>
                                            <span class="sub-title">Travel</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="border top p-v-15 p-h-20 text-center">
                            <a href="{% url 'work:tasks-list' %}" class="text-semibold text-dark d-block">{% trans 'More' %}...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
{#                    <div class="card">#}
{#                        <div class="p-30">#}
{#                            <p>Remember, a Jedi can feel the Force flowing through him. You mean it controls your#}
{#                                actions? Partially. But it also obeys your commands. Hokey religions and ancient weapons#}
{#                                are no match for a good blaster at your side, kid. You don't believe in the Force, do#}
{#                                you? Kid, I've flown from one side of this galaxy to the other.</p>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="col-sm-3">
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <img class="img-fluid d-block mx-auto"#}
{#                                 src="{% static 'main/dist/assets/images/others/bell.png' %}" alt="">#}
{#                            <div class="text-center">#}
{#                                <h5 class="text-dark font-size-18"><b>{% trans 'Remind me' %}</b></h5>#}
{#                            {% if today_reminders %}#}
{#                                {% for today_reminder_item in today_reminders %}#}
{#                                    <p class="text-dark font-size-15"><b>{{ today_reminder_item.name }} - {{ today_reminder_item.date_time|date:'d m Y H:i' }}</b></p>#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                                <p class="text-dark font-size-15">{% trans 'No Data' %}</p>#}
{#                            {% endif %}#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->

{% endblock %}

{% block page_js_block %}


{% endblock %}