{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">

{% endblock %}


{% block content_block %}
    <div class="main-content">
            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                {% csrf_token %}
                <div class="col-md-6 form-group ">
                    {{ search_form.search_key }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.customer }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.start_date }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.end_date }}
                </div>
                <button type="button" class="col-md-12 btn btn-success"
                        onclick="searchForm();">{% trans 'Search' %}</button>
            </form>
            <div  id="full-content-div">
                <div class='text-center'><img style='margin: 10px auto;' src='{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}'/></div>
            </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script>
        var full_content_div = $('#full-content-div');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            full_content_div.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.post("", $('#data-list-form').serialize())
                .done(function (data) {
                    full_content_div.html(data['result']);
                });
        }
        function removeItem() {
            var $url = $('#calendar-task-remove-button').attr('data-ajax-url');
            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, sure' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                    $.post($url, {'csrfmiddlewaretoken':'{{ csrf_token }}'})
                    .done(function (data) {
                        if (data['message_code'] == 1) {
                            swal("{% trans 'Deleted' %}!", '{% trans 'Task Deleted' %}', "success");
                        } else {
                            swal("Cancelled", '{% trans 'Task dont deleted' %}', "error");
                        }
                    });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>

    <script>
    </script>


{% endblock %}