{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link href="{% static 'main/dist/assets/vendor/summernote/dist/summernote-bs4.css' %}"  rel="stylesheet">
{% endblock %}


{% block content_block %}
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Contract template' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a class="breadcrumb-item active">{% trans 'Contract template' %}</a>
                        {#                                <span class="breadcrumb-item active">{% trans 'Task list' %}</span>#}
                    </nav>
                </div>
                {#                <div class="float-lg-right">#}
                {#                    <a href="{% url 'work:Task-add' %}" class="btn btn-gradient-success m-b-25">#}
                {#                        <i class="ti-plus m-r-5"></i>#}
                {#                        <span>{% trans 'Task Add' %}</span>#}
                {#                    </a>#}
                {#                </div>#}
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">{% trans 'Contract template' %}</h4>
                </div>
                <div class="card-body">
                    <div class="m-t-15">
                        <div id="summernote-standard"></div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
{% endblock %}


{% block page_js_block %}
    <script src="{% static 'main/dist/assets/vendor/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/selectize/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/summernote/dist/summernote-bs4.min.js' %}"></script>
    <script src="{% static 'main/dist/assets/js/forms/form-elements.js' %}"></script>
{% endblock %}