{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block  %}

{% endblock %}

{% block page_css_block  %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/fullcalendar/fullcalendar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}">
{% endblock %}


{% block content_block  %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">ChartJs</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="#" class="breadcrumb-item"><i class="ti-home p-r-5"></i>Home</a>
                        <a class="breadcrumb-item" href="#">Charts</a>
                        <span class="breadcrumb-item active">ChartJs</span>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Line Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>A line chart is a way of plotting data points on a line. Often, it is used to show trend data, or the comparison of two data sets.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="line-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Stacked Area Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>Line charts can be configured into stacked area charts by changing the settings on the y axis to enable stacking. Stacked area charts can be used to show how one data trend is made up of a number of smaller pieces.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="stacked-area-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Bar Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>A bar chart provides a way of showing data values represented as vertical bars. It is sometimes used to show trend data, and the comparison of multiple data sets side by side.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="bar-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Radar Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>A radar chart is a way of showing multiple data points and the variation between them. They are often useful for comparing the points of two or more different data sets.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="radar-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Pie Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>Pie charts are probably the most commonly used charts. They are divided into segments, the arc of each segment shows the proportional value of each piece of data.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="pie-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Doughnut Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>Doughnut Chart are also registered under two aliases in the Chart core. Other than their different default value, and different alias, they are exactly the same.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="donut-chart" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Polar Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>Polar area charts are similar to pie charts, but each segment has the same angle - the radius of the segment differs depending on the value.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="polar-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Bubble Chart</h4>
                        </div>
                        <div class="card-body">
                            <p>A bubble chart is used to display three dimensions of data at the same time. The location of the bubble is determined by the first two dimensions and the corresponding horizontal and vertical axes. The third dimension is represented by the size of the individual bubbles.</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="bubble-chart" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header border bottom">
                            <h4 class="card-title">Gradient</h4>
                        </div>
                        <div class="card-body">
                            <p>You can create complex gradients for chart using <code>createLinearGradient</code> property</p>
                            <div class="m-t-25">
                                <canvas class="chart" id="gradient-chart" style="height: 270px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block  %}



    <script src="{% static 'main/dist/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'main/dist/assets/js/charts/chartjs.js' %}"></script>

{% endblock %}
