{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CC Rengøring CRM - {% trans 'login' %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'main/dist/assets/images/logo/favicon.png' %}">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />

    <!-- page css -->

    <!-- core css -->
    <link href="{% static 'main/dist/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/app.css' %}" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="layout bg-gradient-info">
            <div class="container">
                <div class="row full-height align-items-center">
                    <div class="col-md-5 mx-auto">
                        <div class="card card-shadow">
                            <div class="card-body">
                                <div class="p-h-15 p-v-40">
                                    <h2>{% trans 'Contract Confirmation Page' %}</h2>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="form-group">

                                            <div class="form-group">
                                                <div class="switch d-inline m-r-10">
                                                    <label>
                                                        {% trans 'I read and confirm' %} <a target="_blank" href="{{ confirmed_contract_obj.contract_url }}">{% trans 'This Contract' %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        {{ confirm_form.confirm }}
                                                                <label for="id_confirm"></label>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                        <button class="btn btn-block btn-lg btn-gradient-success">{% trans 'I accept' %}</button>
                                        <div class="text-center m-t-30">
{#                                            <a href="#" class="text-gray text-link text-opacity">Forget Password?</a>#}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'main/dist/assets/js/vendor.js' %}"></script>

    <script src="{% static 'main/dist/assets/js/app.min.js' %}"></script>

    <!-- page js -->

</body>


</html>
