{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    {{ contract_template_form.media }}
    {#{{ contract_template_form.media }}#}
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% if contract_template_obj %}{% trans 'Contract Template edit' %}{% else %}
                    {% trans 'Contract Template add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:contract-template-list' %}"
                           class="breadcrumb-item">{% trans 'Contract Templates' %}</a>
                        <span class="breadcrumb-item active">{% if contract_template_obj %}
                            {% trans 'Contract Template edit' %} - {{ contract_template_obj.title }}{% else %}
                            {% trans 'Contract Template add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if contract_template_obj %}{% trans 'Contract Template edit' %} -
                            {{ contract_template_obj.title }}{% else %}{% trans 'Contract Template add' %}{% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-1 col-md-10 col-lg-10">
                            <form role="form" id="snipt-list-form" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">
                                        {% trans 'Type' %}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ contract_template_form.user_type }}
                                        {% if contract_template_form.user_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ contract_template_form.user_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">
                                        {% trans 'Title' %}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ contract_template_form.title }}
                                        {% if contract_template_form.title.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ contract_template_form.title.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_date" class="col-sm-2 col-form-label control-label">
                                        {% trans 'Content' %}
                                    </label>
                                    <div class="input-group col-md-10">

                                        <h4>{% trans 'Snippets' %}</h4>
                                        {#                                                <button id="snippet-list-item-{{ forloop.counter }}" onclick="addSnippet('{{ forloop.counter }}')" type="button" class="btn btn-info btn-rounded btn-float" value="{{ snippet_item.slug }}">@{{ snippet_item.snippet }}</button>#}
                                        <p class="m-t-25" id="snipt-list-id">

                                        </p>
                                        {{ contract_template_form.content }}
                                        {% if contract_template_form.content.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ contract_template_form.content.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script>
        var panel_body = $('.panel-body');
        function addSnippet($id) {
            var cursorPos = panel_body.prop('selectionStart');
            var v = panel_body.text();
            var textBefore = v.substring(0, cursorPos);
            var textAfter = v.substring(cursorPos, v.length);
            panel_body.text(textBefore + $('#snippet-list-item-' + $id).attr("value") + textAfter);
        }

        var snipt_list_id = $('#snipt-list-id');
        var id_user_type = $('#id_user_type');
        function getSnippets() {
{#            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");#}
            $.post("{% url 'work:get-snippet-ajax' 'drag-list' %}", $('#snipt-list-form').serialize())
                .done(function (data) {
                    snipt_list_id.html(data['result'])
                });
        }
        id_user_type.change(function () {
            getSnippets();
        });

        $(document).ready(function () {
            getSnippets();
        });
    </script>


{% endblock %}