{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CC Rengøring CRM - {% trans 'Success' %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'main/dist/assets/images/logo/favicon.png' %}">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />

    <!-- page css -->

    <!-- core css -->
    <link href="{% static 'main/dist/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/app.css' %}" rel="stylesheet">

    <style>
        .confirmation-success-title{
            color: white;
            text-align: center;
            font-size: 28px;
        }
        .confirmation-success-text{
            color: white;
            text-align: center;
        }
        .card-body{
            background: #28a745;
        }
    </style>

</head>

<body>
    <div class="app">
        <div class="">
            <div class="container">
                <div class="row full-height align-items-center">
                    <div class="col-md-7 col-sm-7 mx-auto">
                        <div class="card card-shadow">
                            <div class="card-body">
                                <div class="p-h-15 p-v-40">
                                    <h2 class="confirmation-success-title">{% trans 'You were confirmed contract' %}</h2>
                                    <p class="confirmation-success-text">{% trans 'Please Wait. Redirecting to Dashboard after <span id="countdown">5</span> seconds' %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'main/dist/assets/js/vendor.js' %}"></script>

    <script src="{% static 'main/dist/assets/js/app.min.js' %}"></script>

    <!-- page js -->
<script type="text/javascript">

    // Total seconds to wait
    var seconds = 5;

    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
            // Chnage your redirection link here
            window.location = "{% url 'home:dashboard' %}";
        } else {
            // Update remaining seconds
            document.getElementById("countdown").innerHTML = seconds;
            // Count down using javascript
            window.setTimeout("countdown()", 1000);
        }
    }

    // Run countdown function
    countdown();

</script>

</body>


</html>
