{% load static %}
{% load i18n %}

<tr id="data-list-item-{{ data_item.id }}">
    <td>{{ data_item.date|date:'d F Y H:s' }}</td>
    <td>{{ data_item.name }}</td>
    <td>{{ data_item.assign_service.name }}</td>
    <td class="text-center font-size-18">
        {% if my_profile.usertype == 1 or 'cleaning-program-edit' in my_profile.permissions %}
            <a href="{% url 'work:cleaning-program-edit' data_item.id %}" class="text-gray m-r-15"><i
                    class="ti-pencil"></i></a>
        {% endif %}
        {% if my_profile.usertype == 1 or 'cleaning-program-delete' in my_profile.permissions %}
            <a href="javascript:void(0);"
               onclick="removeItem({{ data_item.id }},'{% url 'work:cleaning-program-remove' data_item.id %}')"
               class="text-gray"><i class="ti-trash"></i></a>
        {% endif %}
    </td>
</tr>