{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% if reminder_obj %}{% trans 'Service edit' %} - {{ reminder_obj.name }}{% else %}{% trans 'Service add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item">
                            <i class="ti-home p-r-5"></i>{% trans 'Dashboard' %}
                        </a>
                        <a href="{% url 'work:services-list' %}" class="breadcrumb-item">{% trans 'Services' %}</a>
                        <span class="breadcrumb-item active">{% if reminder_obj %}{% trans 'Service edit' %} - {{ reminder_obj.name }}{% else %}{% trans 'Service add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">{% if reminder_obj %}{% trans 'Service edit' %} - {{ reminder_obj.name }}{% else %}{% trans 'Service add' %}{% endif %}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Name' %}</label>
                                    <div class="col-sm-10">
                                        {{ service_form.name }}
                                        {% if service_form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ service_form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Type' %}</label>
                                    <div class="col-sm-10">
                                        {{ service_form.type }}
                                        {% if service_form.type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ service_form.type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Price' %}</label>
                                    <div class="col-sm-10">
                                        {{ service_form.price }}
                                        {% if service_form.price.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ service_form.price.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Time type' %}</label>
                                    <div class="col-sm-10">
                                        {{ service_form.time_type }}
                                        {% if service_form.time_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ service_form.time_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Time' %}</label>
                                    <div class="col-sm-10">
                                        {{ service_form.time }}
                                        {% if service_form.time.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ service_form.time.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    <script type="text/javascript"
            src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}"
            charset="UTF-8"></script>
    {% if LANGUAGE_CODE != 'en' %}
        <script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js" charset="UTF-8"></script>
    {% endif %}
    <script>
        $('#id_date').datetimepicker({
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>




    <script>

        var id_time_type = $('#id_time_type');
        var id_type = $('#id_type');
        function dateType() {
            id_time_type.val(id_type.val())
        }
        id_type.change(function () {
            dateType();
        });


        $(document).ready(function () {
            dateType();
        });
    </script>


{% endblock %}