{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>
    <style>
    .select2-container{
        min-width: 80% !important;
    }
    </style>
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if customer_obj %}{% trans 'Employee edit' %} - {{ employee_obj.full_name }} {% else %}
                        {% trans 'Employee add' %} {% endif %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:employees-list' 'active' %}" class="breadcrumb-item">{% trans 'Employees' %}</a>
                        <span class="breadcrumb-item active">
                            {% if customer_obj %}{% trans 'Employee edit' %} - {{ employee_obj.full_name }} {% else %}
                                {% trans 'Employee add' %} {% endif %}
                        </span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;"
                            onclick="window.location='{% url 'work:employee-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if customer_obj %}{% trans 'Employee edit' %} - {{ employee_obj.full_name }} {% else %}
                            {% trans 'Employee add' %} {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10">
                            <form role="form" id="form-validation" method="post"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'User ' %} *</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.employee_type }}
                                        {% if employee_form.employee_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.employee_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row" id="subcontractor-id">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Subcontractor' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.subcontractor }}
                                        {% if employee_form.subcontractor.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.subcontractor.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Full name' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.full_name }}
                                        {% if employee_form.full_name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.full_name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Rpr number' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.cpr_number }}
                                        {% if employee_form.cpr_number.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.cpr_number.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Birthdate' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.birth_date }}
                                        {% if employee_form.birth_date.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.birth_date.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Phone number' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.phonenumber }}
                                        {% if employee_form.phonenumber.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.phonenumber.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Email' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.email }}
                                        {% if employee_form.email.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.email.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                <fieldset>
                                    <legend>{% trans 'Address' %}:</legend>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Street name' %}</label>
                                        <div class="col-sm-10">
                                            {{ employee_form.street_name }}
                                            {% if employee_form.street_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ employee_form.street_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Zip Code' %}</label>
                                        <div class="col-sm-10">
                                            {{ employee_form.zip_code }}
                                            {% if employee_form.zip_code.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ employee_form.zip_code.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'City' %}</label>
                                        <div class="col-sm-10">
                                            {{ employee_form.city }}
                                            {% if employee_form.city.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ employee_form.city.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </fieldset>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Start Date' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.start_date }}
                                        {% if employee_form.start_date.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.start_date.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Employment Type' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.employment_type }}
                                        {% if employee_form.employment_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.employment_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row" id="amount_of_hours-id">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Amount of hours' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.amount_of_hours }}
                                        {% if employee_form.amount_of_hours.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.amount_of_hours.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row" id="hourly_rate-id">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Hourly rate' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.hourly_rate }}
                                        {% if employee_form.hourly_rate.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.hourly_rate.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Auto generated password' %}</label>
                                    <div class="col-sm-6 col-md-7 col-lg-8">
                                        {{ employee_form.auto_generated_password }}
                                        {% if employee_form.auto_generated_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.auto_generated_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4 col-md-3 col-lg-2">
                                        <a href="javascript:void(0);" class="btn btn-danger"
                                           onclick="passwordGenerator('id_auto_generated_password')">{% trans 'Password Generator' %}</a>
                                    </div>
                                </div>


                                <div class="form-group row" id="upload-contract-div" >
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Contract file' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.contract_file }}
                                        {% if employee_form.contract_file.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.contract_file.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label"></label>
                                    <div class="col-sm-10">
                                        <a href="javascript:void(0);" class="btn btn-danger" id="new-contract-button-id"
                                           onclick="contractCheck(1)">{% trans 'New Contract' %}</a>
                                    </div>
                                </div>
                            <div id="new-contract-div" style="display: none;">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Social security card' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.social_security_card }}
                                        {% if employee_form.social_security_card.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.social_security_card.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Picture' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.picture }}
                                        {% if employee_form.picture.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.picture.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Picture' %}</label>
                                    <div class="col-sm-10">
                                        {{ employee_form.contract_template }}
                                        {% if employee_form.contract_template.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ employee_form.contract_template.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                                <button class="btn btn-gradient-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
            containerCssClass: ':all:'
        });
    </script>
    <script>
        $('#id_birth_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>

    <script>

        $(document).ready(function () {
            employeeTypeFun();
            employmentTypeFun();
            contractCheck(0)
        });


        var id_employee_type = $('#id_employee_type');
        var id_employment_type = $('#id_employment_type');
        var subcontractor_id = $('#subcontractor-id');
        var id_subcontractor = $('#id_subcontractor');
        var amount_of_hours_id = $('#amount_of_hours-id');
        var hourly_rate_id = $('#hourly_rate-id');
        var id_amount_of_hours = $('#id_amount_of_hours');
        var id_hourly_rate = $('#id_hourly_rate');
        var id_contract_file = $('#id_contract_file');
        var id_social_security_card = $('#id_social_security_card');
        var id_picture = $('#id_picture');
        var id_contract_template = $('#id_contract_template');
        function employeeTypeFun() {
            if (id_employee_type.val() == 2) {
                subcontractor_id.show();
                id_subcontractor.attr("required", "required");
            } else {
                subcontractor_id.hide();
                id_subcontractor.removeAttr("required");
            }
        }
        function employmentTypeFun() {
            if (id_employment_type.val() == 1) {
                amount_of_hours_id.show();
                hourly_rate_id.hide();
                id_amount_of_hours.attr("required", "required");
                id_hourly_rate.removeAttr("required");
            } else if (id_employment_type.val() == 2) {
                amount_of_hours_id.hide();
                hourly_rate_id.show();
                id_hourly_rate.attr("required", "required");
                id_amount_of_hours.removeAttr("required");
            }
        }
        id_employee_type.change(function () {
            employeeTypeFun();
        });
        id_employment_type.change(function () {
            employmentTypeFun();
        });

    </script>

    <script>
    var is_new = false;
    var new_contract_div = $('#new-contract-div');
    var upload_contract_div = $('#upload-contract-div');
    var new_contract_button_id = $('#new-contract-button-id');
    function contractCheck($isNEW) {
        if($isNEW == 1) {
            is_new = !is_new;
        }
        if (is_new){
            new_contract_div.show();
            upload_contract_div.hide();
            new_contract_button_id.text('{% trans 'Upload Contract' %}');
            id_social_security_card.attr("required", "required");
            id_picture.attr("required", "required");
            id_contract_template.attr("required", "required");
            id_contract_file.removeAttr("required");
        }else{
            new_contract_div.hide();
            upload_contract_div.show();
            new_contract_button_id.text('{% trans 'New Contract' %}');
            id_social_security_card.removeAttr("required");
            id_picture.removeAttr("required");
            id_contract_template.removeAttr("required");
            id_contract_file.attr("required", "required");
        }
    }
    </script>

    <script>
        {#    $( '<a class="btn btn-danger" onclick="passwordGenerator()">Şifrə Generatoru</a>' ).insertAfter( "#user-password" );#}
        function generatePassword() {
            var length = 16,
                charset = "!@#$%^&*abcdefghijklmnopqrstuvwxyz!@#$%^&*ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*",
                retVal = "";
            for (var i = 0, n = charset.length; i < length; ++i) {
                retVal += charset.charAt(Math.floor(Math.random() * n));
            }
            return retVal;
        }
        function passwordGenerator($id) {
            $('#' + $id).val(generatePassword());
        }
    </script>
{% endblock %}