{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Employees list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:employees-list' 'active' %}" class="breadcrumb-item">{% trans 'Employees' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Employees list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;"
                            onclick="window.location='{% url 'work:employee-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
            </div>
            <div class="row" id="data-list-links">
                <button onclick="window.location='{% url 'work:employees-list' 'active' %}'"
                        class="col-md-6 btn btn-gradient-success">{% trans 'Active' %}</button>
                <button onclick="window.location='{% url 'work:employees-list' 'removed' %}'"
                        class="col-md-6 btn btn-gradient-danger">{% trans 'Removed' %}</button>
            </div>

            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                {% csrf_token %}
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6 form-group ">
                    {{ search_form.employee_type }}
                </div>
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6 form-group " id="subcontractor-id"
                     style="display: none;">
                    {{ search_form.subcontractor }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.full_name }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.cpr_number }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.birth_date }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.phonenumber }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.email }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.street_name }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.zip_code }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.city }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.start_date }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.end_date }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.employment_type }}
                </div>
                <div class="col-md-6 form-group " style="display: none;" id="amount_of_hours-id">
                    {{ search_form.amount_of_hours }}
                </div>
                <div class="col-md-6 form-group " style="display: none;" id="hourly_rate-id">
                    {{ search_form.hourly_rate }}
                </div>
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6  form-group ">

                    <button type="button" class="btn btn-success" style="margin: 0;width: 100%;"
                            onclick="searchForm();">{% trans 'Search' %}</button>
                </div>
            </form>
            <div class="card">
                <div class="card-body">
                    <div class="table-overflow" id="data-list-main-content">
                        <div class='text-center'>
                            <img style='margin: 10px auto;'
                                 src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>

    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
            containerCssClass: ':all:'
        });
    </script>
    <script>
        $(document).ready(function () {
            employeeTypeFun();
            employmentTypeFun();
        });
        var id_employee_type = $('#id_employee_type');
        var id_employment_type = $('#id_employment_type');
        var subcontractor_id = $('#subcontractor-id');
        var amount_of_hours_id = $('#amount_of_hours-id');
        var hourly_rate_id = $('#hourly_rate-id');
        function employeeTypeFun() {
            if (id_employee_type.val() == 2) {
                subcontractor_id.show();
            } else {
                subcontractor_id.hide();
            }
        }
        function employmentTypeFun() {
            if (id_employment_type.val() == 1) {
                amount_of_hours_id.show();
                hourly_rate_id.hide();
            } else if (id_employment_type.val() == 2) {
                amount_of_hours_id.hide();
                hourly_rate_id.show();
            } else {
                amount_of_hours_id.hide();
                hourly_rate_id.hide();
            }
        }
        id_employee_type.change(function () {
            employeeTypeFun();
        });
        id_employment_type.change(function () {
            employmentTypeFun();
        });
    </script>

    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.post("{% url 'work:employees-list' op_slug %}", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#id_birth_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>


    <script>
        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, sure' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }  ,
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Activated' %}!", data['message'], "success");
                                } else if (data['message_code'] == 2) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>
{% endblock %}