{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block  %}

{% endblock %}

{% block page_css_block  %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
{% endblock %}


{% block content_block  %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Cleaning programs list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:cleaning-programs-list' %}" class="breadcrumb-item">{% trans 'Cleaning programs' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Cleaning programs list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;" onclick="window.location='{% url 'work:cleaning-program-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>

            </div>
            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                {% csrf_token %}
                <div class="col-md-6 form-group ">
                    {{ search_form.name }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.assign_service }}
                </div>
                <button type="button" class="col-md-12 btn btn-success"
                        onclick="searchForm();">{% trans 'Search' %}</button>
            </form>
            <div class="card">
                <div class="card-body">

                    <div class="table-overflow" id="data-list-main-content">
                        <div class='text-center'>
                            <img style='margin: 10px auto;'
                                 src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block  %}

    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.post("", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
    </script>
    <script>
        function removeItem($id,$url) {

			swal({
				title: "{% trans 'Are you sure' %}?",
				text: "{% trans 'You will be able to recover this data' %}!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "{% trans 'Yes, sure' %} !",
				cancelButtonText: "{% trans 'No, cancel' %} !",
				closeOnConfirm: false,
				closeOnCancel: false
			},
		  function(isConfirm){
				if (isConfirm) {
                    $.get( $url, {} )
                      .done(function( data ) {
                        if (data['message_code'] == 1){
                            $('#data-list-item-'+$id).remove();
					        swal("{% trans 'Activated' %}!", data['message'], "success");
                        }else if (data['message_code'] == 2) {
                            $('#data-list-item-'+$id).remove();
					        swal("{% trans 'Deleted' %}!", data['message'], "success");
                        }else{
                            swal("Cancelled", data['message'], "error");
                        }
                      });
				} else {
					swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
				}
			});


        }
    </script>

    
{% endblock %}