{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet"
          href="{% static 'main/dist/assets/select2/4.0.5/css/select2.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}">
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% if cleaning_program_obj %}{% trans 'Cleaning program edit' %} - {{ cleaning_program_obj.name }}{% else %}{% trans 'Cleaning program add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:cleaning-programs-list' %}" class="breadcrumb-item">{% trans 'Cleaning programs' %}</a>
                        <span class="breadcrumb-item active">{% if cleaning_program_obj %}{% trans 'Cleaning program edit' %} - {{ cleaning_program_obj.name }}{% else %}{% trans 'Cleaning program add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">{% if cleaning_program_obj %}{% trans 'Cleaning program edit' %} - {{ cleaning_program_obj.name }}{% else %}{% trans 'Cleaning program add' %}{% endif %}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div id="business-all-div">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Name' %}</label>
                                        <div class="col-sm-10">
                                            {{ cleaning_program_form.name }}
                                            {% if cleaning_program_form.name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ cleaning_program_form.name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Assign service' %}</label>
                                        <div class="col-sm-10">
                                            {{ cleaning_program_form.assign_service }}
                                            {% if cleaning_program_form.assign_service.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ cleaning_program_form.assign_service.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
{#    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>#}
{#<script>#}
{#        $(".select2-single, .select2-multiple").select2({#}
{#            theme: "bootstrap",#}
{#            placeholder: "Select",#}
{#            minimumSelectionSize: 2,#}
{#            maximumSelectionSize: 6,#}
{#            containerCssClass: ':all:'#}
{#        });#}
{#</script>#}
{% endblock %}