{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CC Rengøring CRM - 500</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'main/dist/assets/images/logo/favicon.png' %}">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css' %}" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />

    <!-- page css -->

    <!-- core css -->
    <link href="{% static 'main/dist/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/app.css' %}" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="layout">
            <div class="container">
                <div class="row full-height align-items-center">
                    <div class="col-md-7">
                        <div class="m-t-15 m-l-20">
                            <h1 class="font-size-55 text-semibold">500</h1>
                            <h2 class="font-weight-light font-size-35">{% trans 'Internal Server Error' %}</h2>
                            <p class="width-70 text-opacity m-t-25 font-size-16">{% trans "There was an error. Please try again in few couple minute later. That's all we know." %}</p>
                            <div class="m-t-15">
                                <a href="" class="btn btn-gradient-success btn-lg m-t-30">{% trans 'Reload' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-none d-md-block">
                        <img class="img-fluid" src="{% static 'main/dist/assets/images/others/img-33.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'main/dist/assets/js/vendor.js' %}"></script>

    <script src="{% static 'main/dist/assets/js/app.min.js' %}"></script>

    <!-- page js -->

</body>


</html>