{% load static %} {% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CC Rengøring CRM - {% block title_block %}  {% endblock %}</title>

    <!-- Favicon -->
    {#    <link rel="apple-touch-icon" href="{% static 'main/dist/assets/images/logo/apple-touch-icon.html' %}">#}
    <link rel="shortcut icon" href="{% static 'main/dist/assets/images/logo/favicon.png' %}">
    {% block metatag_block %}

    {% endblock %}
    <!-- core dependcies css -->
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'main/dist/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' %}"/>

    <!-- page css -->
    {% block page_css_block %}

    {% endblock %}
    <!-- core css -->
    <link href="{% static 'main/dist/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/assets/css/app.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <style>
        #dt-opt_wrapper{
            overflow-x: auto !important;
        }
    </style>
</head>

<body>
<div class="app header-default side-nav-default">
    <div class="layout">
        <!-- Header START -->
        <div class="header navbar">
            <div class="header-container">
                <div class="nav-logo">
                    <a href="{% url 'home:dashboard' %}">
                        <div class="logo logo-dark"
                             style="background-image: url('{% static 'main/dist/assets/images/logo/logo.png' %}')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('{% static 'main/dist/assets/images/logo/logo-white.png' %}')"></div>
                    </a>
                </div>
                <ul class="nav-left">
                    <li>
                        <a class="sidenav-fold-toggler" href="javascript:void(0);">
                            <i class="mdi mdi-menu"></i>
                        </a>
                        <a class="sidenav-expand-toggler" href="javascript:void(0);">
                            <i class="mdi mdi-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="dropdown dropdown-animated scale-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="mdi mdi-apps"></i>
                        </a>
                        {% include 'include/_top-menu.html' %}
                    </li>
                    <li class="notifications dropdown dropdown-animated scale-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ LANGUAGE_CODE }}
                        </a>
                        <ul class="dropdown-menu dropdown-lg p-v-0">
                            <li class="p-v-15 p-h-20 border bottom text-dark">
                                <h5 class="m-b-0">
                                    <i class="mdi mdi-translate"></i>
                                    <span>{% for language in languages %} {% if language.0 == LANGUAGE_CODE %}
                                        {{ language.1 }}{% endif %}{% endfor %}</span>
                                </h5>
                            </li>

                            {% for language in languages %}
                                {% if language.0 != LANGUAGE_CODE %}
                                    <li>
                                        <ul class="list-media overflow-y-auto relative scrollable"
                                            style="max-height: 300px">
                                            <li class="list-item border bottom">
                                                <a href="{% url 'set_language' %}?language={{ language.0 }}&next={{ request.path }}"
                                                   class="media-hover p-15">
                                                    <div class="media-img">
                                                        <div class="icon-avatar bg-info">
                                                            {{ language.0 }}
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                    <span class="title">
                                                        {{ language.1 }}
                                                    </span>
                                                        <span class="sub-title">{{ language.0 }}</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="user-profile dropdown dropdown-animated scale-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="profile-img img-fluid"
                                 src="{% static 'main/dist/assets/images/avatars/default-user.png' %}" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-md p-v-0">
                            <li>
                                <ul class="list-media">
                                    <li class="list-item p-15">
                                        <div class="media-img">
                                            <img src="{% static 'main/dist/assets/images/avatars/default-user.png' %}"
                                                 alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title text-semibold">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                                            <span class="sub-title">{{ request.user.email }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{% url 'home:dashboard' %}">
                                    <i class="ti-settings p-r-10"></i>
                                    <span>{% trans 'Dashboard' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'work:change-password' %}">
                                    <i class="ti-settings p-r-10"></i>
                                    <span>{% trans 'Change password' %}</span>
                                </a>
                            </li>
                            {#                                <li>#}
                            {#                                    <a href="#">#}
                            {#                                        <i class="ti-user p-r-10"></i>#}
                            {#                                        <span>Profile</span>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            {#                                <li>#}
                            {#                                    <a href="#">#}
                            {#                                        <i class="ti-email p-r-10"></i>#}
                            {#                                        <span>Inbox</span>#}
                            {#                                        <span class="badge badge-pill badge-success pull-right">2</span>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            <li>
                                <a href="{% url 'base-user:logout' %}">
                                    <i class="ti-power-off p-r-10"></i>
                                    <span>{% trans 'Logout' %}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Header END -->

        <!-- Side Nav START -->
        {% include 'include/_left-menu.html' %}
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">


            <!-- Content Wrapper START -->
            {% block content_block %}

            {% endblock %}
            <!-- Content Wrapper END -->

            <!-- Footer START -->
            <footer class="content-footer">
                <div class="footer">
                    <div class="copyright">
                        <span>{% trans 'Copyright' %} © {{ now.year }} <b
                                class="text-dark">{% trans 'CC Rengøring CRM' %}</b>. {% trans 'All rights reserved' %}.</span>
                        <span class="go-right">
                                <a href="#" class="text-gray m-r-15">{% trans 'Term &amp; Conditions' %}</a>
                                <a href="#" class="text-gray">{% trans 'Privacy &amp; Policy' %}</a>
                            </span>
                    </div>
                </div>
            </footer>
            <!-- Footer END -->

        </div>
        <!-- Page Container END -->

    </div>
</div>

<script src="{% static 'main/dist/assets/js/vendor.js' %}"></script>

<script src="{% static 'main/dist/assets/js/app.min.js' %}"></script>

<!-- page js -->
{% block page_js_block %}
{% endblock %}

<script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
<script src="{% static 'main/assets/custom/prepare.js' %}" type="text/javascript"></script>
</body>


</html>