{% load static %} {% load i18n %}
<tr id="data-list-item-{{ data_item.id }}">
    <td>{{ data_item.date|date:'d F  Y' }}</td>
    <td>{{ data_item.name }}</td>
    <td class="text-center font-size-18">
        <a href="javascript:void(0);"
           onclick="$('#modal-fs-title').text('{{ data_item.name }}'); $('#modal-fs-content').html($('#complaints-list-{{ data_item.id }}').html());"
           data-toggle="modal" data-target="#modal-fs" class="text-gray m-r-15"><i
                class="ti-eye"></i></a>
        {% if data_item.user.id == my_profile.id %}
            <a href="javascript:void(0);"
               onclick="removeItem({{ data_item.id }},'{% url 'work:complaint-remove' data_item.id %}')"
               class="text-gray">
                <i class="ti-trash"></i>
            </a>
        {% endif %}
        <div id="complaints-list-{{ data_item.id }}" style="display: none">
            <p>{{ data_item.date }}</p>
            {% autoescape off %}
                {{ data_item.content }}
            {% endautoescape %}

        </div>
    </td>
</tr>