{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">

    <style>
        #data-list-main-content .text-center {
            width: 100%;
        }
    </style>

{% endblock %}


{% block content_block %}

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Notes list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:notes-list' %}" class="breadcrumb-item">{% trans 'Notes list' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Notes list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;"
                            onclick="window.location='{% url 'work:note-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
            </div>
        </div>
        <div class="container-fluid container-fixed-sm">

            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                {% csrf_token %}
                <div class="col-md-4 form-group ">
                    {{ search_form.search_key }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.start_date }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.end_date }}
                </div>
                <button type="button" class="col-md-12 btn btn-success"
                        onclick="searchForm();">{% trans 'Search' %}</button>
            </form>

            <div class="row" id="data-list-main-content">
                <div class='text-center'>
                    <img style='margin: 10px auto;'
                         src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                </div>
            </div>


        </div>
    </div>
    <!-- Content Wrapper END -->

{% endblock %}


{% block page_js_block %}
{#    <script type="text/javascript"#}
{#            src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js"#}
{#            charset="UTF-8"></script> #}
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.get("{% url 'work:notes-list' %}", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
    <script>
        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, sure' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Activated' %}!", data['message'], "success");
                                } else if (data['message_code'] == 2) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>

{% endblock %}