{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    {{ note_form.media }}
{#{{ note_form.media }}#}
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% if note_obj %}{% trans 'Note edit' %} - {{ note_obj.title }}{% else %}{% trans 'Note add' %}{% endif %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:notes-list' %}" class="breadcrumb-item">{% trans 'Notes' %}</a>
                        <span class="breadcrumb-item active">{% if note_obj %}{% trans 'Note edit' %} - {{ note_obj.title }}{% else %}{% trans 'Note add' %}{% endif %}</span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if note_obj %}{% trans 'Note edit' %} - {{ note_obj.title }}{% else %}{% trans 'Note add' %}{% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 offset-md-1 offset-lg-1 col-md-10 col-lg-10">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">
                                        {% trans 'Title' %}
                                    </label>
                                    <div class="col-sm-10">
                                        {{ note_form.title }}
                                        {% if note_form.title.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ note_form.title.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_date" class="col-sm-2 col-form-label control-label">
                                        {% trans 'Content' %}
                                    </label>
                                    <div class="input-group date form_datetime col-md-10" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                        {{ note_form.content }}
                                        {% if note_form.content.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ note_form.content.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
{% endblock %}