{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}

    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">

    <style>
        #data-list-main-content .text-center {
            width: 100%;
        }
    .background-white{
        background: #FFFFFF;
    }
    </style>

{% endblock %}


{% block content_block %}

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Notes' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a class="breadcrumb-item" href="{% url 'work:notes-list' %}"><i class="mdi mdi-note-text"></i> {% trans 'Notes' %}</a>
                        <span class="breadcrumb-item active">{{ note_obj.title }}</span>
                    </nav>
                </div>
            </div>
        <div class="row no-gutters mt">
            <div class="col border right">
                <div class="p-20 background-white">
                    <span class="text-dark text-semibold m-l-5"> <a href="{% url 'work:note-edit' note_obj.id %}"
                                                                    class="btn btn-warning">{% trans 'Edit' %}</a> </span>
                    <div class="progress progress-sm m-t-15 m-b-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-20 background-white">
                    <span class="text-dark text-semibold m-l-5"> <a href="javascript:void(0);"
                                                                    onclick="removeItem({{ note_obj.id }},'{% url 'work:note-remove' note_obj.id %}')"
                                                                    class="btn btn-danger">{% trans 'Delete' %}</a> </span>
                    <div class="progress progress-sm m-t-15 m-b-0">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-fluid" src="{% static 'main/dist/assets/images/others/note-model-img.png' %}" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10 ml-auto mr-auto">
                                            <div class="m-t-30">
                                                <h3 class="card-title"><strong>{{ note_obj.title }}</strong></h3>
                                                {{ note_obj.content|safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->

{% endblock %}


{% block page_js_block %}
    {% if LANGUAGE_CODE != 'en' %}
        <script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js" charset="UTF-8"></script>
    {% endif %}
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.get("{% url 'work:notes-list' %}", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
    <script>
        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, sure' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                    setTimeout(function(){ window.location = '{% url 'work:notes-list' %}'; }, 2000);
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>

{% endblock %}