{% load static %}
{% load i18n %}
<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6" id="data-list-item-{{ data_item.id }}">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <span>{{ data_item.name }}</span>
                <div class="text-gray pull-right">
                    {% if my_profile.usertype == 1 or 'team-edit' in my_profile.permissions %}
                        <a href="{% url 'work:team-edit' data_item.id %}" class="text-gray">
                            <i class="mdi mdi-pencil font-size-20"></i>
                        </a>
                    {% endif %}
                    {% if my_profile.usertype == 1 or 'team-delete' in my_profile.permissions %}
                        <a href="javascript:void(0);"
                           onclick="removeItem({{ data_item.id }},'{% url 'work:team-remove' data_item.id %}')"
                           class="text-gray pull-right">
                            <i class="mdi mdi-delete font-size-20"></i>
                        </a>
                    {% endif %}
                </div>
            </h4>
            <div class="m-t-30" id='board1'>
                <div class="card draggable-item">
                    <div class="p-15">
                        <ul class="list-label m-b-10">
                            <li class="bg-info"></li>
                            <li class="bg-danger"></li>
                        </ul>
                        <p class="font-size-15"><b>{% trans 'Team Members' %}</b></p>
                        <div class="m-t-20">
                            <ul class="list-inline d-inline-block m-t-10">
                                <li>
                                    <i class="mdi mdi-account-multiple"></i>
                                    <span>{{ data_item.employees.count }}</span>
                                </li>
                                <li>
                                    <i class="mdi mdi-calendar"></i>
                                    <span>{{ data_item.date|date:'d F Y' }}</span>
                                </li>
                            </ul>
                            <ul class="list-media-horizon list-inline pull-right">
                                {% for data_item_employee_item in data_item.employees.all %}
                                    <li>
                                        <a href="#" title="{{ data_item_employee_item.full_name }}">
                                            <img src="{% static 'main/dist/assets/images/avatars/default-user.png' %}"
                                                 alt="">
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>