{% load static %}
{% load i18n %}

<tr id="data-list-item-{{ data_item.id }}">
    <td>{{ data_item.company_name }}</td>
    <td>{{ data_item.cvr_number }}</td>
    <td>{{ data_item.street_name }}</td>
    <td>{{ data_item.zip_code }}</td>
    <td>{{ data_item.city }}</td>
    <td>{{ data_item.full_name }}</td>
    <td>{{ data_item.phonenumber }}</td>
    <td>{{ data_item.email }}</td>
    <td class="text-center font-size-18">
        {% if my_profile.usertype == 1 or 'subcontractor-edit' in my_profile.permissions %}
            <a href="{% url 'work:subcontractor-edit' data_item.id %}" class="text-gray m-r-15"><i
                    class="ti-pencil"></i></a>
        {% endif %}
        {% if my_profile.usertype == 1 or 'subcontractor-delete' in my_profile.permissions %}
            <a href="javascript:void(0);"
               onclick="removeItem({{ data_item.id }},'{% url 'work:subcontractor-remove' data_item.id %}')"
               class="text-gray">
                {% if data_item.deleted %}
                    <i class="ti-reload"></i>
                {% else %}
                    <i class="ti-trash"></i>
                {% endif %}
            </a>
        {% endif %}
    </td>
</tr>