{% load static %}
{% load i18n %}

<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" id="data-list-item-{{ data_item.id }}">
    <div class="card">
        <div class="card-body">
            <div class="d-inline-block">
                <h2 class="m-b-0 font-weight-light"><strong>{{ data_item.name }}</strong></h2>
            </div>
            <div class="float-right m-t-15">
                <div class="align-self-end">
                    <i class="ti-settings font-size-70 text-primary opacity-01"></i>
                </div>
            </div>
        </div>
        <div class="border top">
            <div class="row no-gutters">
                <div class="col">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Type' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.get_type }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col border right">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Price' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.price }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Time type' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.get_time_type }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col border right">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Time' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.time }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                {% if my_profile.usertype == 1 or 'service-edit' in my_profile.permissions %}
                    <div class="col border right">
                        <div class="p-20">
                        <span class="text-dark text-semibold m-l-5"> <a
                                href="{% url 'work:service-edit' data_item.id %}"
                                class="btn btn-warning">{% trans 'Edit' %}</a> </span>
                            <div class="progress progress-sm m-t-15 m-b-0">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if my_profile.usertype == 1 or 'service-delete' in my_profile.permissions %}
                    <div class="col">
                        <div class="p-20">
                        <span class="text-dark text-semibold m-l-5"> <a href="javascript:void(0);"
                                                                        onclick="removeItem({{ data_item.id }},'{% url 'work:service-remove' data_item.id %}')"
                                                                        class="btn btn-danger">{% trans 'Delete' %}</a> </span>
                            <div class="progress progress-sm m-t-15 m-b-0">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>