{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Customer add from excel' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item">
                            <i class="ti-home p-r-5"></i>{% trans 'Dashboard' %}
                        </a>
                        <a href="{% url 'work:customers-list' 'active' %}" class="breadcrumb-item">
                            {% trans 'Complaints' %}
                        </a>
                        <span class="breadcrumb-item active">
                            {% trans 'Customer add from excel' %}
                        </span>
                    </nav>
                </div>
            </div>


            <div class="card">
                <div class="card-body">

                            <!-- BEGIN FORM-->
                            <div>{{ form.errors }}</div>
                            <form action="" method="post" class="form-horizontal form-bordered"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">{% trans 'Choose Excel File' %}</label>
                                        <div class="col-md-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    {{ form.excelfile }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green">
                                                <i class="fa fa-check"></i>
                                                {% trans 'Send' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>

    {% if message_code and message_code == 1 %}
        <script>
            swal(
              'Result',
                '{{ message }}',
              'success'
            )
        </script>
    {% elif message_code and message_code == 2 %}
        <script>
            swal(
              'Result',
                '{{ message }}',
              'error'
            )
        </script>
    {% elif message_code and message_code == 0 %}
    {% endif %}
{% endblock %}