{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}
{% trans 'My card' %}
{% endblock %}

{% block metatag_block %}

{% endblock %}
{% block page_css_block %}
    <link rel="stylesheet"
          href="{% static 'main/dist/assets/vendor/datatables/media/css/dataTables.bootstrap4.min.css' %}"/>
    {#    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">#}
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">

{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                        {% trans 'My card' %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <span class="breadcrumb-item active">
                                {% trans 'My Card' %}
                        </span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% trans 'My card' %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <form role="form" id="card-form" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Card number' %}</label>
                                    <div class="col-sm-10">
                                        {{ card_form.card_number }}
                                        {% if card_form.card_number.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ card_form.card_number.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Date' %}</label>
                                    <div class="col-sm-5">
                                        {{ card_form.expire_month }}
                                        {% if card_form.expire_month.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ card_form.expire_month.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-5">
                                        {{ card_form.year }}
                                        {% if card_form.year.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ card_form.year.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'cvv' %}</label>
                                    <div class="col-sm-10 ">
                                        <div class="box">
                                            {{ card_form.cvv }}
                                        </div>
                                        {% if card_form.cvv.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ card_form.cvv.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {{ card_form.stripe_id.as_hidden }}
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script src="https://js.stripe.com/v2/"></script>
    <script>
     Stripe.publishableKey = '{{ publishable }}';
    </script>
    <script>
    $(function () {
        $("#card-form").submit(function () {
            alert();
            var form = this;
            var card = {
                number:$('#id_card_number').val(),
                expMonth:$('#id_expire_month').val(),
                expYear:$('#id_year').val(),
                cvc:$('#id_cvv').val(),
            };
            Stripe.createToken(card,function (status,response) {
              if(status === 200){
{#                  alert(status,response);#}
{#                  alert(response.id);#}
                  $('#id_stripe_id').val(response.id);
                  form.submit();
              }else{
                  alert('errro');
                  $('#stripe-error-message').text(response.error.message);
                  $('#credit-card-errors').show();
                  $('#user_submit').attr("disabled",false);
              }
            });
            return false;
        })
    })
    </script>
    <script>

    </script>
    {#<script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>#}
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    {#<script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js" charset="UTF-8"></script>#}

    {#    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.9/js/gijgo.min.js" type="text/javascript"></script>#}

    {{ card_form.media }}

{% endblock %}