{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    {#    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">#}
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Customers list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:customers-list' 'active' %}" class="breadcrumb-item">{% trans 'Customers' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Customers list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;"
                            onclick="window.location='{% url 'work:customer-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
                {#                <div class="float-lg-right">#}
                {#                    <a href="{% url 'work:customer-add' %}" class="btn btn-gradient-success m-b-25">#}
                {#                        <i class="ti-plus m-r-5"></i>#}
                {#                        <span>{% trans 'Customer Add' %}</span>#}
                {#                    </a>#}
                {#                </div>#}
            </div>
            <div class="row" id="data-list-links">
                <button onclick="window.location='{% url 'work:customers-list' 'active' %}'"
                        class="col-md-6 btn btn-gradient-success">{% trans 'Active' %}</button>
                <button onclick="window.location='{% url 'work:customers-list' 'removed' %}'"
                        class="col-md-6 btn btn-gradient-danger">{% trans 'Removed' %}</button>
            </div>

            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6 form-group ">
                    {{ search_form.customer_type }}
                </div>
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6 form-group " id="private-all-div"
                     style="display: none;">
                    {{ search_form.full_name }}
                </div>
                <div class="col-md-12" id="business-all-div" style="display: none;">
                    <div class="row">
                        <div class="col-md-4 form-group ">
                            {{ search_form.company_name }}
                        </div>
                        <div class="col-md-4 form-group ">
                            {{ search_form.contact_person }}
                        </div>
                        <div class="col-md-4 form-group ">
                            {{ search_form.cvr_number }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.phonenumber }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.email }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.street_name }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.zip_code }}
                </div>
                <div class="col-md-4 form-group ">
                    {{ search_form.city }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.start_date }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.end_date }}
                </div>
                <div class="col-md-3 form-group ">
                    {{ search_form.square_meters }}
                </div>
                <div class="col-md-3 form-group ">
                    {{ search_form.amount_of_bathrooms }}
                </div>
                <div class="col-md-3 form-group ">
                    {{ search_form.amount_of_kitchens }}
                </div>
                <div class="col-md-3 form-group ">
                    {{ search_form.amount_of_floors }}
                </div>
                <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6  form-group ">

                    <button type="button" class="btn btn-success" style="margin: 0;width: 100%;"
                            onclick="searchForm();">{% trans 'Search' %}</button>
                </div>
            </form>
            <div class="card">
                <div class="card-body">
                    <div class="table-overflow" id="data-list-main-content">
                        <div class='text-center'>
                            <img style='margin: 10px auto;'
                                 src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}


    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>

    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.get("{% url 'work:customers-list' op_slug %}", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>


    <script>


        $(document).ready(function () {
            customerTypeFun();
        });


        var id_customer_type = $('#id_customer_type');
        var business_all_div = $('#business-all-div');
        var private_all_div = $('#private-all-div');
        function customerTypeFun() {
            if (id_customer_type.val() == 1) {
                private_all_div.show();
                business_all_div.hide();
            } else if (id_customer_type.val() == 2) {
                private_all_div.hide();
                business_all_div.show();
            } else {
                private_all_div.hide();
                business_all_div.hide();
            }
        }
        id_customer_type.change(function () {
            customerTypeFun();
        });
    </script>

    <script>

        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, sure' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Activated' %}!", data['message'], "success");
                                } else if (data['message_code'] == 2) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>

{% endblock %}