{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}
{% block page_css_block %}
    <link rel="stylesheet"
          href="{% static 'main/dist/assets/vendor/datatables/media/css/dataTables.bootstrap4.min.css' %}"/>
    {#    <link href="{% static 'main/dist/assets/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">#}
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">

{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                    {% if customer_obj %}{% trans 'Customer edit' %} -
                        {% if customer_obj.customer_type == 1 %}
                            {{ customer_obj.full_name }}
                        {% elif customer_obj.customer_type == 2 %}
                            {{ customer_obj.company_name }}
                        {% endif %}
                    {% else %}
                        {% trans 'Customer add' %}
                    {% endif %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:customers-list' 'active' %}" class="breadcrumb-item">{% trans 'Customers' %}</a>
                        <span class="breadcrumb-item active">
                            {% if customer_obj %}{% trans 'Customer edit' %} -
                                {% if customer_obj.customer_type == 1 %}
                                    {{ customer_obj.full_name }}
                                {% elif customer_obj.customer_type == 2 %}
                                    {{ customer_obj.company_name }}
                                {% endif %}
                            {% else %}
                                {% trans 'Customer add' %}
                            {% endif %}
                        </span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if customer_obj %}{% trans 'Customer edit' %} -
                            {% if customer_obj.customer_type == 1 %}
                                {{ customer_obj.full_name }}
                            {% elif customer_obj.customer_type == 2 %}
                                {{ customer_obj.company_name }}
                            {% endif %}
                        {% else %}
                            {% trans 'Customer add' %}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Customer type ' %}
                                        *</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.customer_type }}
                                        {% if customer_form.customer_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.customer_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="private-all-div">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Full name' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.full_name }}
                                            {% if customer_form.full_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.full_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div id="business-all-div">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Company name' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.company_name }}
                                            {% if customer_form.company_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.company_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Contact person' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.contact_person }}
                                            {% if customer_form.contact_person.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.contact_person.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Company registration number' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.cvr_number }}
                                            {% if customer_form.cvr_number.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.cvr_number.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Phone number' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.phonenumber }}
                                        {% if customer_form.phonenumber.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.phonenumber.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Email' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.email }}
                                        {% if customer_form.email.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.email.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                <fieldset>
                                    <legend>{% trans 'Address' %}:</legend>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Street name' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.street_name }}
                                            {% if customer_form.street_name.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.street_name.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'Zip Code' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.zip_code }}
                                            {% if customer_form.zip_code.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.zip_code.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label control-label">{% trans 'City' %}</label>
                                        <div class="col-sm-10">
                                            {{ customer_form.city }}
                                            {% if customer_form.city.errors %}
                                                <div class="alert alert-danger" style="padding: 7px 0;">
                                                    <button style="margin: 5px 10px;" type="button" class="close"
                                                            data-dismiss="alert" aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <strong>{{ customer_form.city.errors }}</strong>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </fieldset>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Start Date' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.start_date }}
                                        {% if customer_form.start_date.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.start_date.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Square meters' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.square_meters }}
                                        {% if customer_form.square_meters.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.square_meters.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Amount of bathrooms' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.amount_of_bathrooms }}
                                        {% if customer_form.amount_of_bathrooms.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.amount_of_bathrooms.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row" id="hourly_rate-id">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Amount of kitchens' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.amount_of_kitchens }}
                                        {% if customer_form.amount_of_kitchens.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.amount_of_kitchens.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Amount of floors' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.amount_of_floors }}
                                        {% if customer_form.amount_of_floors.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.amount_of_floors.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Auto generated password' %}</label>
                                    <div class="col-sm-6 col-md-7 col-lg-8">
                                        {{ customer_form.auto_generated_password }}
                                        {% if customer_form.auto_generated_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.auto_generated_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4 col-md-3 col-lg-2">
                                        <a href="javascript:void(0);" class="btn btn-danger"
                                           onclick="passwordGenerator('id_auto_generated_password')">{% trans 'Password Generator' %}</a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Address' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.address }}
                                        {% if customer_form.address.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.address.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Position' %}</label>
                                    <div class="col-sm-10">
                                        {{ customer_form.position }}
                                        {% if customer_form.position.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ customer_form.position.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}
    {#<script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>#}
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    {#<script type="text/javascript" src="{% static 'main/dist/assets/bootstrap-datetimepicker-master/js/locales' %}/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js" charset="UTF-8"></script>#}

    {#    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.9/js/gijgo.min.js" type="text/javascript"></script>#}
    {{ customer_form.media }}
    <script>
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
    <script>

        $(document).ready(function () {
            customerTypeFun();
        });


        var id_customer_type = $('#id_customer_type');
        var id_full_name = $('#id_full_name');
        var id_company_name = $('#id_company_name');
        var id_contact_person = $('#id_contact_person');
        var id_cvr_number = $('#id_cvr_number');
        var business_all_div = $('#business-all-div');
        var private_all_div = $('#private-all-div');
        function customerTypeFun() {
            if (id_customer_type.val() == 1) {
                private_all_div.show();
                business_all_div.hide();
                id_full_name.attr("required", "required");
                id_company_name.removeAttr("required");
                id_contact_person.removeAttr("required");
                id_cvr_number.removeAttr("required");
            } else if (id_customer_type.val() == 2) {
                private_all_div.hide();
                business_all_div.show();
                id_company_name.attr("required", "required");
                id_contact_person.attr("required", "required");
                id_cvr_number.attr("required", "required");
                id_full_name.removeAttr("required");
            }
        }
        id_customer_type.change(function () {
            customerTypeFun();
        });
    </script>
    <script>
        {#    $( '<a class="btn btn-danger" onclick="passwordGenerator()">Şifrə Generatoru</a>' ).insertAfter( "#user-password" );#}
        function generatePassword() {
            var length = 16,
                charset = "!@#$%^&*abcdefghijklmnopqrstuvwxyz!@#$%^&*ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*",
                retVal = "";
            for (var i = 0, n = charset.length; i < length; ++i) {
                retVal += charset.charAt(Math.floor(Math.random() * n));
            }
            return retVal;
        }
        function passwordGenerator($id) {
            $('#' + $id).val(generatePassword());
        }
    </script>



{% endblock %}