{% load i18n %}{% load static %}
{% csrf_token %}
<div class="form-group">
    <label class="control-label">{% trans 'Employees' %}</label>
    {{ calendar_edit_form.employees }}
</div>
<div class="form-group">
    <label class="control-label">{% trans 'Is delete' %}</label>
    {{ calendar_edit_form.is_canceled }}
</div>
<div class="form-group">
    <input class="form-control" id="id_object" type="hidden"/>
</div>