{% load static %}
{% load i18n %}

<tr id="data-list-item-{{ data_item.id }}">
    <td>{{ data_item.date|date:'d F Y' }}</td>
    <td><span
            class="badge badge-pill {% if data_item.employee_type == 1 %}badge-danger{% elif data_item.employee_type == 2 %}badge-success{% endif %}">{{ data_item.get_employee_type }}</span>
    </td>
    <td>
        <div class="list-media">
            <div class="list-item">
                <div class="media-img">
                    <img src="{% static 'main/dist/assets/images/avatars/thumb-1.jpg' %}"
                         alt="">
                </div>
                <div class="info">
                    <span class="title">{{ data_item.full_name }}</span>
                    <span class="sub-title">{{ data_item.cpr_number }}</span>
                    {% if data_item.employee_type == 2 %}
                        <span class="title">{{ data_item.subcontractor.company_name }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="list-media">
            <div class="list-item">
                <div class="info">
                    <span class="title">{{ data_item.user.email }}</span>
                    <span class="title">{{ data_item.phonenumber }}</span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="list-media">
            <div class="list-item">
                <div class="info">
                    <span class="title">{{ data_item.street_name }}</span>
                    <span class="title">{{ data_item.zip_code }}</span>
                    <span class="title">{{ data_item.city }}</span>
                </div>
            </div>
        </div>
    </td>
    <td>
                                        <span class="title">
                                            {% if data_item.employment_type == 1 %}
                                                {{ data_item.amount_of_hours }}
                                            {% elif data_item.employment_type == 2 %}
                                                {{ data_item.hourly_rate }}
                                            {% endif %}
                                        </span>
    </td>
    <td>{{ data_item.get_employment_type }}</td>
    <td>{{ data_item.start_date }}</td>
    <td class="text-center font-size-18">
        <a href="{% url 'work:user-profile' data_item.user.id %}" class="text-gray m-r-15"><i class="ti-eye"></i></a>
        {% if my_profile.usertype == 1 or 'employee-edit' in my_profile.permissions %}
            <a href="{% url 'work:employee-edit' data_item.id %}" class="text-gray m-r-15"><i class="ti-pencil"></i></a>
        {% endif %}
        {% if my_profile.usertype == 1 or 'employee-delete' in my_profile.permissions %}
            <a href="javascript:void(0);"
               onclick="removeItem({{ data_item.id }},'{% url 'work:employee-remove' data_item.id %}')"
               class="text-gray">
                {% if data_item.deleted %}
                    <i class="ti-reload"></i>
                {% else %}
                    <i class="ti-trash"></i>
                {% endif %}
            </a>
        {% endif %}
    </td>
</tr>