{% load static %} {% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- core dependcies css -->
    <link rel="stylesheet" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/vendor/bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/vendor/PACE/themes/blue/pace-theme-minimal.css' %}"/>

    <!-- page css -->
    {% block page_css_block %}

    {% endblock %}
    <!-- core css -->
    <link href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/css/app.css' %}" rel="stylesheet">
</head>

<body>
<div class="app header-default side-nav-default">
    <div class="layout">

        <div class="page-container" style="padding-left: 0;">
            <!-- Page Container START -->
            <div class="main-content">
                <div class="container-fluid">

                            <div class="card">
                                <div class="card-body">
                                    <div class="p-h-30">
                                        <div class="m-t-15">
                                            <div class="inline-block">
                                                <img class="img-fluid" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/images/logo/logo.png' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-sm-12">
                                                {% autoescape off %}
                                                    {{ content_html }}
                                                {% endautoescape %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <!-- Page Container END -->
        </div>

    </div>
</div>

<script src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/js/vendor.js' %}"></script>

<script src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'main/dist/assets/js/app.min.js' %}"></script>


</body>


</html>