{% load static %}
{% load i18n %}
<link rel="stylesheet"
      href="{% static 'main/dist/assets/vendor/datatables/media/css/dataTables.bootstrap4.min.css' %}"/>

    <table id="dt-opt" class="table table-hover table-xl">
        <thead>
        <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Name' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% autoescape off %}
            {{ html }}
        {% endautoescape %}
        </tbody>
    </table>

<script src="{% static 'main/dist/assets/vendor/datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'main/dist/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'main/dist/assets/js/tables/data-table.js' %}"></script>