{% load static %}
{% load i18n %}
<div class="col-md-6" id="data-list-item-{{ data_item.id }}">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img class="img-fluid img-fit-cover"
                     src="{% static 'main/dist/assets/images/others/snippets-note-left-sm.png' %}" alt="">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h4 class="m-v-20"><a class="text-dark">{{ data_item.snippet }}</a>
                    </h4>
                    <p>
                        {% autoescape off %}
                            {{ data_item.content }}
                        {% endautoescape %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col border right">
                <div class="p-20">
                    <span class="text-dark text-semibold m-l-5"> <a href="{% url 'work:snippet-edit' data_item.id %}"
                                                                    class="btn btn-warning">{% trans 'Edit' %}</a> </span>
                    <div class="progress progress-sm m-t-15 m-b-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 70%"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-20">
                    <span class="text-dark text-semibold m-l-5"> <a href="javascript:void(0);"
                                                                    onclick="removeItem({{ data_item.id }},'{% url 'work:snippet-remove' data_item.id %}')"
                                                                    class="btn btn-danger">{% trans 'Delete' %}</a> </span>
                    <div class="progress progress-sm m-t-15 m-b-0">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>