{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}
    {% if team_obj %}
       {% trans 'Team edit' %} - {{ team_obj.name }}
    {% else %}
        {% trans 'Team add' %}
    {% endif %}
{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
{#    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2.css' %}">#}
   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>
    <style>
    .select2-container .select2-selection--multiple{
            display: inline-table;
    }
    </style>
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">
                        {% if team_obj %}
                           {% trans 'Team edit' %} - {{ team_obj.name }}
                        {% else %}
                            {% trans 'Team add' %}
                        {% endif %}
                </h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:teams-list' %}" class="breadcrumb-item">{% trans 'Teams' %}</a>
                        <span class="breadcrumb-item active">
                            {% if team_obj %}
                               {% trans 'Team edit' %} - {{ team_obj.name }}
                            {% else %}
                                {% trans 'Team add' %}
                            {% endif %}
                        </span>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-header border bottom">
                    <h4 class="card-title">
                        {% if team_obj %}
                           {% trans 'Team edit' %} - {{ team_obj.name }}
                        {% else %}
                            {% trans 'Team add' %}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <form role="form" id="form-validation" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Name ' %} *</label>
                                    <div class="col-sm-10">
                                        {{ team_form.name }}
                                        {% if team_form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ team_form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row" id="subcontractor-id">
                                    <label class="col-sm-2 col-form-label control-label">{% trans 'Employees' %} *</label>
                                    <div class="col-sm-10">
                                        {{ team_form.employees }}
                                        {% if team_form.employees.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ team_form.employees.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>



                                <div class="form-group row" id="date_type_custom_customize_id">
                                    <div class="col-sm-12">

                                        <h3>{% trans 'Tema work days' %}</h3>
                                        <hr>
                                        {{ team_work_days_form_formset.management_form }}
                                        {% for form in team_work_days_form_formset.forms %}
                                            <div class="item-form row">
                                                {#      {{ form.as_p }}#}
{#                                                <div class="row">#}
                                                    <div class="col-md-4">
                                                        <label><span style="color:red;">*</span>{% trans 'Day' %}
                                                        </label>
                                                        {{ form.day }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{% trans 'Minute' %}</label>
                                                        {{ form.minute }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br>
{#                                                        <input type="text" name="form-0-text" id="form-0-text">#}
                                                        <a class="delete btn btn-danger align-right" href="#"><i
                                                                class="fa fa-trash-o"></i> {% trans 'Delete' %}</a>
                                                    </div>
{#                                                </div>#}
                                                <hr>
                                            </div>
                                        {% endfor %}
                                        <p><a id="add" class=" btn btn-success" href="#"><i
                                                class="fa fa-plus"></i> {% trans 'Add another' %}</a></p>


                                    </div>
                                </div>



                                <button class="btn btn-gradient-success">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>
<script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
{#            placeholder: "Select",#}
{#            minimumSelectionSize: 2,#}
{#            maximumSelectionSize: 6,#}
            containerCssClass: ':all:'
        });
</script>




    <script>
        $(document).ready(function () {
            // Code adapted from http://djangosnippets.org/snippets/1389/
            function updateElementIndex(el, prefix, ndx) {
                var id_regex = new RegExp('(' + prefix + '-\\d+-)');
                var replacement = prefix + '-' + ndx + '-';
                if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
                    replacement));
                if (el.id) el.id = el.id.replace(id_regex, replacement);
                if (el.name) el.name = el.name.replace(id_regex, replacement);
{#                console.log("el.name");#}
{#                console.log(el);#}
{#                console.log(el.name);#}
{#                console.log(el.name.replace(id_regex, replacement));#}
            }

            function deleteForm(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                if (formCount > 1) {
                    // Delete the item/form
                    $(btn).parents('.item-form').remove();
                    var forms = $('.item-form'); // Get all the forms
                    // Update the total number of forms (1 less than before)
                    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                    var i = 0;
                    // Go through the forms and set their indices, names and IDs
                    for (formCount = forms.length; i < formCount; i++) {
                        $(forms.get(i)).children().children().each(function () {
                            if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                        });
                    }
                } // End if
                else {
                    alert("{% trans 'You have to enter at least one todo item!' %}");
                }
                return false;
            }

            function addForm(btn, prefix) {
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                // You can only submit a maximum of 10 todo items
                if (formCount < 7) {
                    // Clone a form (without event handlers) from the first form
                    var row = $(".item-form:last").clone(false).get(0);
                    // Insert it after the last form
                    $(row).removeAttr('id').hide().insertAfter(".item-form:last").slideDown(300);

                    // Remove the bits we don't want in the new row/form
                    // e.g. error messages
                    $(".errorlist", row).remove();
                    $(row).children().removeClass("error");

                    // Relabel or rename all the relevant bits
                    $(row).children().children().each(function () {
                        updateElementIndex(this, prefix, formCount);
                        $(this).val("");
                        console.log($(this))
                    });

                    // Add an event handler for the delete item/form link
                    $(row).find(".delete").click(function () {
                        return deleteForm(this, prefix);
                    });
                    // Update the total form count
                    $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
                } // End if
                else {
                    alert("Sorry, you can only enter a maximum of ten items.");
                }
                return false;
            }

            // Register the click event handlers
            $("#add").click(function () {
                return addForm(this, "form");
            });

            $(".delete").click(function () {
                return deleteForm(this, "form");
            });
        });
    </script>




{% endblock %}