{% extends 'main-base.html' %}
{% load static %}
{% load i18n %}
{% block title_block %}

{% endblock %}

{% block metatag_block %}

{% endblock %}

{% block page_css_block %}
    <link rel="stylesheet" href="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.css' %}"/>
    <link href="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'main/dist/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css' %}"/>

    <style>
        #data-list-main-content .text-center {
            width: 100%;
        }
    </style>
{% endblock %}


{% block content_block %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-header">
                <h2 class="header-title">{% trans 'Teams list' %}</h2>
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="{% url 'home:dashboard' %}" class="breadcrumb-item"><i
                                class="ti-home p-r-5"></i>{% trans 'Dashboard' %}</a>
                        <a href="{% url 'work:teams-list' %}" class="breadcrumb-item">{% trans 'Teams' %}</a>
                        <span class="breadcrumb-item active">{% trans 'Team list' %}</span>
                    </nav>
                </div>
                <h2 class="header-title" style="padding-left: 20px;">
                    <button class="btn btn-success btn-rounded" style="margin-bottom: 0;"
                            onclick="window.location='{% url 'work:team-add' %}'">
                        + {% trans 'Add new' %}
                    </button>
                </h2>
                {#                <div class="float-lg-right">#}
                {#                    <a href="{% url 'work:team-add' %}" class="btn btn-gradient-success m-b-25">#}
                {#                        <i class="ti-plus m-r-5"></i>#}
                {#                        <span>{% trans 'Team Add' %}</span>#}
                {#                    </a>#}
                {#                </div>#}
            </div>
            <form class="row" id="data-list-form" style="margin-bottom: 15px;">
                <div class="col-md-6 form-group ">
                    {{ search_form.name }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.employee }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.start_date }}
                </div>
                <div class="col-md-6 form-group ">
                    {{ search_form.end_date }}
                </div>
                <button type="button" class="col-md-12 btn btn-success"
                        onclick="searchForm();">{% trans 'Search' %}</button>
            </form>
            <div class="row" id="data-list-main-content">
                <div class='col-md-12 text-center'>
                    <img style='margin: 10px auto;'
                         src="{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_js_block %}

    <script src="{% static 'main/dist/assets/vendor/dragula-master/dist/dragula.js' %}"></script>
    <script src="{% static 'main/dist/assets/js/apps/task.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/sweetalert/lib/sweet-alert.js' %}"></script>
    <script src="{% static 'main/dist/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'main/dist/assets/select2/4.0.5/js/select2.full.min.js' %}"></script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap4",
            containerCssClass: ':all:'
        });
    </script>
    <script>
        var data_list_main_content = $('#data-list-main-content');
        var ajax_loader_url = '{% static 'main/dist/assets/images/loading-gif-transparent-10.gif' %}';
        function searchForm() {
            data_list_main_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");
            $.get("{% url 'work:teams-list' %}", $('#data-list-form').serialize())
                .done(function (data) {
                    data_list_main_content.html(data['result'])
                });
        }
        $(document).ready(function () {
            searchForm();
        });
        $('#id_start_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#id_end_date').datepicker({
            dateFormat: 'yyyy-mm-dd',
            format: 'yyyy-mm-dd',
            language: '{{ LANGUAGE_CODE }}',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
    <script>
        function removeItem($id, $url) {

            swal({
                    title: "{% trans 'Are you sure' %}?",
                    text: "{% trans 'You will not be able to recover this data' %}!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Yes, delete it' %} !",
                    cancelButtonText: "{% trans 'No, cancel' %} !",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.get($url, {})
                            .done(function (data) {
                                if (data['message_code'] == 1) {
                                    $('#data-list-item-' + $id).remove();
                                    swal("{% trans 'Deleted' %}!", data['message'], "success");
                                } else {
                                    swal("Cancelled", data['message'], "error");
                                }
                            });
                    } else {
                        swal("{% trans 'Cancelled' %}", "{% trans 'You have cancelled' %} !", "error");
                    }
                });


        }
    </script>


{% endblock %}