{% load static %}
{% load i18n %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="data-list-item-{{ data_item.id }}">
    <div class="card">
        <div class="card-body">
            <div class="d-inline-block">
                <h1 class="m-b-0 font-weight-light">{{ data_item.name }}</h1>
            </div>
            <div class="float-right m-t-15">
                <div class="align-self-end">
                    <i class="ti-timer font-size-70 text-primary opacity-01"></i>
                </div>
            </div>
        </div>
        <div class="border top">
            <div class="row no-gutters">
                <div class="col border right">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Date' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.date_time|date:'d F Y' }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-20">
                        <span class="m-b-10 opacity-07">{% trans 'Time' %}:</span>
                        <span class="text-dark text-semibold m-l-5"> {{ data_item.date_time|date:'H:s' }}</span>
                        <div class="progress progress-sm m-t-15 m-b-0">
                            <div class="progress-bar bg-success" role="progressbar"
                                 style="width: 70%"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                {% if my_profile.usertype == 1 or 'reminder-edit' in my_profile.permissions %}
                    <div class="col border right">
                        <div class="p-20">
                                            <span class="text-dark text-semibold m-l-5"> <a
                                                    href="{% url 'work:reminder-edit' data_item.id %}"
                                                    class="btn btn-warning">{% trans 'Edit' %}</a> </span>
                            <div class="progress progress-sm m-t-15 m-b-0">
                                <div class="progress-bar bg-warning" role="progressbar"
                                     style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if my_profile.usertype == 1 or 'reminder-delete' in my_profile.permissions %}
                    <div class="col">
                        <div class="p-20">
                                            <span class="text-dark text-semibold m-l-5"> <a href="javascript:void(0);"
                                                                                            onclick="removeItem({{ data_item.id }},'{% url 'work:reminder-remove' data_item.id %}')"
                                                                                            class="btn btn-danger">{% trans 'Delete' %}</a> </span>
                            <div class="progress progress-sm m-t-15 m-b-0">
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: 70%"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>