{% load i18n %}
{% load static %}
<button type="button" onclick="preparePlan('main-plan-prepare-button')" {% if base_plan_log or base_settings_obj.main_plan is False %} disabled="disabled" {% endif %} id="main-plan-prepare-button" data-ajax-url="{% url 'general:plan-prepare-ajax' 'main' %}"
   class="col-md-12 btn btn-danger btn-rounded btn-float">
    <i class="fa fa-repeat"></i> {% trans 'Prepare Plan' %}
</button>
<hr class="col-md-12"/>

<button type="button" onclick="preparePlan('sub-main-plan-prepare-button')" {% if base_plan_log or base_settings_obj.sub_plan is False %} disabled="disabled" {% endif %} id="sub-main-plan-prepare-button" data-ajax-url="{% url 'general:plan-prepare-ajax' 'sub-main' %}"
   class="col-md-12 btn btn-warning btn-rounded btn-float">
    <i class="fa fa-repeat"></i> {% trans 'Prepare Sub Plan' %}
</button>